workflows/2captcha-turnstile-fetch.json
{
  "name": "2Captcha Turnstile FETCH",
  "nodes": [
    {
      "parameters": {},
      "id": "start-fetch",
      "name": "START",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "const response = await fetch('https://api.2captcha.com/createTask', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    clientKey: '5fffba5de3bed2317417f625985ec684',\n    task: {\n      type: 'TurnstileTaskProxyless',\n      websiteURL: 'https://claude.ai',\n      websiteKey: '0x4AAAAAAADnPIDROrmt1Wwj'\n    }\n  })\n});\n\nconst data = await response.json();\n\nreturn {\n  json: data\n};"
      },
      "id": "create-fetch",
      "name": "Create Task with Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.errorId }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-fetch-created",
      "name": "Task Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    taskId: $input.first().json.taskId\n  }\n};"
      },
      "id": "save-fetch-taskid",
      "name": "Save Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-fetch-10s",
      "name": "Wait 10 sec",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 500],
      "webhookId": "wait-fetch-10s"
    },
    {
      "parameters": {
        "jsCode": "const response = await fetch('https://api.2captcha.com/getTaskResult', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    clientKey: '5fffba5de3bed2317417f625985ec684',\n    taskId: $input.first().json.taskId\n  })\n});\n\nconst data = await response.json();\n\nreturn {\n  json: data\n};"
      },
      "id": "get-fetch-result",
      "name": "Get Result with Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "processing"
            }
          ]
        }
      },
      "id": "check-fetch-ready",
      "name": "Not Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    taskId: $input.first().json.taskId\n  }\n};"
      },
      "id": "preserve-fetch-taskid",
      "name": "Preserve Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-fetch-5s",
      "name": "Wait 5 sec",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 400],
      "webhookId": "wait-fetch-5s"
    },
    {
      "parameters": {
        "jsCode": "const solution = $input.first().json.solution;\n\nreturn {\n  json: {\n    success: true,\n    turnstile_token: solution.token,\n    userAgent: solution.userAgent,\n    cost: $input.first().json.cost,\n    message: \"Turnstile solved for Claude.ai!\"\n  }\n};"
      },
      "id": "fetch-success",
      "name": "SUCCESS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 600]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"success\": false, \"errorCode\": $json.errorCode, \"errorDescription\": $json.errorDescription, \"errorId\": $json.errorId, \"fullResponse\": $json } }}"
      },
      "id": "fetch-error",
      "name": "ERROR",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "START": {
      "main": [[{"node": "Create Task with Fetch", "type": "main", "index": 0}]]
    },
    "Create Task with Fetch": {
      "main": [[{"node": "Task Created?", "type": "main", "index": 0}]]
    },
    "Task Created?": {
      "main": [
        [{"node": "ERROR", "type": "main", "index": 0}],
        [{"node": "Save Task ID", "type": "main", "index": 0}]
      ]
    },
    "Save Task ID": {
      "main": [[{"node": "Wait 10 sec", "type": "main", "index": 0}]]
    },
    "Wait 10 sec": {
      "main": [[{"node": "Get Result with Fetch", "type": "main", "index": 0}]]
    },
    "Get Result with Fetch": {
      "main": [[{"node": "Not Ready?", "type": "main", "index": 0}]]
    },
    "Not Ready?": {
      "main": [
        [{"node": "Preserve Task ID", "type": "main", "index": 0}],
        [{"node": "SUCCESS", "type": "main", "index": 0}]
      ]
    },
    "Preserve Task ID": {
      "main": [[{"node": "Wait 5 sec", "type": "main", "index": 0}]]
    },
    "Wait 5 sec": {
      "main": [[{"node": "Get Result with Fetch", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "1"
}
