workflows/[ops]-restore-workflows-from-github-to-n8n.json
{
  "createdAt": "2025-11-07T14:15:46.125Z",
  "updatedAt": "2025-11-07T16:24:46.721Z",
  "id": "jQqKZOieRkYrFmqO",
  "name": "[OPS] Restore workflows from GitHub to n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "2b2a4856-1d2e-407a-a7be-22a00bcef688",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -336,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "ilya3211"
            },
            {
              "name": "repo.name",
              "value": "n8n-workflow"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "bb970a73-681e-4062-8c18-808b0cdc0a11",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -144,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow - Restore Backups\nThis workflow will restore backed-up workflows from Github. \nIt is launch by testing the workflow\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder where your workflows are saved, within the repository.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017,
        "color": 2
      },
      "id": "bc7db3cf-86af-4a73-b4f6-c82a28b6a274",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8b1a0842-3ac9-4c02-9853-2cf5a275ba33",
      "name": "Workflow name already exists",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1552,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "063d51c7-0b7a-48a4-82b3-76b370fc4265",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Merge Github and n8n workflows - Keep only non existing workflows based on the name').item.json.name }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cac52baf-c78d-47cd-8ca6-51b659e9e782",
      "name": "If workflow already exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1232,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6be8c184-8fb7-47a9-ad42-d0dc3db1eea4",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d3606639-0653-4b89-b912-c07723b69105",
      "name": "Set n8n existing workflows names",
      "type": "n8n-nodes-base.set",
      "position": [
        704,
        528
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}"
      },
      "id": "2bf7f512-93b0-49de-a690-9884a0b37b1b",
      "name": "GitHub - get all files",
      "type": "n8n-nodes-base.github",
      "position": [
        80,
        208
      ],
      "typeVersion": 1,
      "webhookId": "55234704-8b19-4de6-87e9-b81bdeb23702",
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {
          "tags": "github2"
        },
        "requestOptions": {}
      },
      "id": "5f311750-2d77-498d-ac89-66ad07bbc5a2",
      "name": "n8n - get all workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -144,
        544
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "SpXj1mMDdnf13mdr",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "69ff4492-8307-40e5-94f8-daeadda8d6aa",
      "name": "GitHub - get each file",
      "type": "n8n-nodes-base.github",
      "position": [
        512,
        320
      ],
      "typeVersion": 1,
      "webhookId": "48e71fb8-9f0a-4bdf-ac32-4d1081e1db82",
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "714b0cfd-9f06-4e2f-b73d-30ef39dc40e3",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content.base64Decode() }}"
            },
            {
              "id": "6f48ed58-d55a-4ee4-8cf2-373941aaa341",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name.replace(\".json\", \"\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "447ee354-a5bc-4fb3-aaa3-8c1e77abf189",
      "name": "Set name and content",
      "type": "n8n-nodes-base.set",
      "position": [
        704,
        320
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $('Set name and content').item.json.content }}",
        "requestOptions": {}
      },
      "id": "4f12287d-4885-4cb9-b794-da77be064662",
      "name": "n8n - create workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1552,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "SpXj1mMDdnf13mdr",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get all Github files\n1. List all the files from your repository\n2. Get each file as a JSON. \n3. The content, retrieved as base64, is converted in the \"Set Name and Content\" node\n\n\nThe \"Set Name and Content\" node creates a list of workflows with name and content, in order to compare it with the existing n8n workflows in the workspace.",
        "height": 478.9952882299376,
        "width": 861.4145066375679,
        "color": 2
      },
      "id": "6e45cfe6-4fd3-48fc-a97a-9858fa4d53ad",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "72bbe955-300b-47f8-917c-d79b2a4ec4c1",
      "name": "Merge globals and files",
      "type": "n8n-nodes-base.merge",
      "position": [
        304,
        320
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "47cf5b2d-bf6d-4b88-86d2-0ae83e4220f9",
      "name": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
      "type": "n8n-nodes-base.merge",
      "position": [
        1008,
        432
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Merge Github and n8n workflows\n\nHere, we only keep the workflows from Github that doesn't already exist in n8n workspace, based on the name",
        "height": 196.65095879641083,
        "width": 260.44696745223945,
        "color": 2
      },
      "id": "f2fec4be-3423-489b-9395-bcafc1ad1784",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create n8n workflow\n\nCreate the n8n workflow using:\n- Content saved in Github\n- Name of the file in Github\n\n\nIf the workflow name already exist in n8n, then the workflow is not created - to avoid duplicates.",
        "height": 237.66186698228626,
        "width": 344.0461264465236,
        "color": 2
      },
      "id": "99354da0-652f-44fc-bfd6-13794608a7de",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get existing n8n workflows\n\n1. Get all workflows\n2. Prepare a list of workflows in order to compare it with the workflows saved in the Github repo.",
        "height": 182.45487519360773,
        "width": 378.7476641422645,
        "color": 2
      },
      "id": "cd88cff0-71c6-4f35-974f-88e77c8c1695",
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        640
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "GitHub - get all files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge globals and files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set name and content": {
      "main": [
        [
          {
            "node": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n - get all workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - get all files": {
      "main": [
        [
          {
            "node": "Merge globals and files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - get each file": {
      "main": [
        [
          {
            "node": "Set name and content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge globals and files": {
      "main": [
        [
          {
            "node": "GitHub - get each file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n - get all workflows": {
      "main": [
        [
          {
            "node": "Set n8n existing workflows names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If workflow already exists": {
      "main": [
        [
          {
            "node": "n8n - create workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow name already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set n8n existing workflows names": {
      "main": [
        [
          {
            "node": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Github and n8n workflows - Keep only non existing workflows based on the name": {
      "main": [
        [
          {
            "node": "If workflow already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "df98172d-ab19-4af7-ba37-236e8884b183",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-07T14:15:46.125Z",
      "updatedAt": "2025-11-07T14:15:46.125Z",
      "role": "workflow:owner",
      "workflowId": "jQqKZOieRkYrFmqO",
      "projectId": "6RdnQGWBgqXn6vl2"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-11-07T14:46:44.546Z",
      "updatedAt": "2025-11-07T14:46:44.546Z",
      "id": "Vgp9ECPMqQUYpFsz",
      "name": "github2"
    }
  ]
}