workflows/claude-api-direct.json
{
  "name": "Claude API Direct (без браузера)",
  "nodes": [
    {
      "parameters": {},
      "id": "c7f7f8d0-8f8f-4f8f-8f8f-8f8f8f8f8f8f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_CLAUDE_API_KEY_HERE"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt || 'Привет! Как дела?' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a8b8c8d0-8f8f-4f8f-8f8f-8f8f8f8f8f8f",
      "name": "Claude API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1e1e1e1-e1e1-e1e1-e1e1-e1e1e1e1e1e1",
              "name": "response",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "e2e2e2e2-e2e2-e2e2-e2e2-e2e2e2e2e2e2",
              "name": "model",
              "value": "={{ $json.model }}",
              "type": "string"
            },
            {
              "id": "e3e3e3e3-e3e3-e3e3-e3e3-e3e3e3e3e3e3",
              "name": "usage_tokens",
              "value": "={{ $json.usage.input_tokens + $json.usage.output_tokens }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b9c9d9e0-8f8f-4f8f-8f8f-8f8f8f8f8f8f",
      "name": "Extract Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Claude API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API Request": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
