workflows/claude-ai-puppeteer-automation.json
{
  "name": "Claude.AI Puppeteer Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-automation",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "webhookId": "claude-automation-webhook",
      "id": "webhook-node"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        450
      ],
      "id": "manual-trigger-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user_prompt",
              "name": "userPrompt",
              "value": "={{ $json.body?.prompt || $json.prompt || \"Привет! Как дела?\" }}",
              "type": "string"
            },
            {
              "id": "session_key",
              "name": "sessionKey",
              "value": "={{ $json.body?.sessionKey || $json.sessionKey || \"YOUR_SESSION_KEY_HERE\" }}",
              "type": "string"
            },
            {
              "id": "cf_bm_cookie",
              "name": "cfBmCookie",
              "value": "={{ $json.body?.cfBmCookie || $json.cfBmCookie || \"YOUR_CF_BM_COOKIE_HERE\" }}",
              "type": "string"
            },
            {
              "id": "timeout",
              "name": "timeout",
              "value": "={{ $json.body?.timeout || $json.timeout || 60000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        520,
        300
      ],
      "id": "extract-params-node"
    },
    {
      "parameters": {
        "content": "=## Инструкция по настройке Puppeteer\n\n**ВАЖНО**: Этот workflow требует установки n8n-nodes-puppeteer\n\n### Установка:\n```bash\nnpm install n8n-nodes-puppeteer\n```\n\n### Системные зависимости:\n```bash\n# Ubuntu/Debian\napt-get install -y chromium fonts-liberation\n\n# CentOS/RHEL  \nyum install -y chromium\n```\n\n### Настройка credentials:\n\n1. Откройте https://claude.ai в браузере\n2. DevTools (F12) → Application → Cookies\n3. Скопируйте значения:\n   - sessionKey\n   - __cf_bm\n4. Замените в ноде 'Extract Parameters':\n   - YOUR_SESSION_KEY_HERE\n   - YOUR_CF_BM_COOKIE_HERE\n\n### Puppeteer Code:\n\nДобавьте Puppeteer node со следующим кодом:\n\n```javascript\nconst userPrompt = $json.userPrompt;\nconst sessionKey = $json.sessionKey;\nconst cfBmCookie = $json.cfBmCookie;\n\ntry {\n  await page.setCookie(\n    {\n      name: 'sessionKey',\n      value: sessionKey,\n      domain: '.claude.ai',\n      path: '/',\n      httpOnly: true,\n      secure: true,\n      sameSite: 'None'\n    },\n    {\n      name: '__cf_bm',\n      value: cfBmCookie,\n      domain: '.claude.ai',\n      path: '/',\n      httpOnly: true,\n      secure: true,\n      sameSite: 'None'\n    }\n  );\n  \n  await page.goto('https://claude.ai/new', { \n    waitUntil: 'networkidle2',\n    timeout: 30000 \n  });\n  \n  await page.waitForSelector('div[contenteditable=\"true\"]', { timeout: 10000 });\n  await page.click('div[contenteditable=\"true\"]');\n  await page.type('div[contenteditable=\"true\"]', userPrompt, { delay: 50 });\n  \n  await page.waitForSelector('button[aria-label=\"Send Message\"], button[type=\"submit\"]', { timeout: 5000 });\n  await page.click('button[aria-label=\"Send Message\"], button[type=\"submit\"]');\n  \n  await page.waitForFunction(\n    () => document.querySelectorAll('[data-testid=\"message\"]').length >= 2,\n    { timeout: 60000 }\n  );\n  \n  await page.waitForFunction(\n    () => {\n      const stopButton = document.querySelector('button[aria-label=\"Stop generating\"]');\n      return !stopButton || stopButton.disabled;\n    },\n    { timeout: 120000 }\n  );\n  \n  const response = await page.evaluate(() => {\n    const messages = document.querySelectorAll('[data-testid=\"message\"]');\n    if (messages.length < 2) return null;\n    const lastMessage = messages[messages.length - 1];\n    return lastMessage.innerText || lastMessage.textContent;\n  });\n  \n  return {\n    success: true,\n    prompt: userPrompt,\n    response: response,\n    timestamp: new Date().toISOString()\n  };\n  \n} catch (error) {\n  const screenshot = await page.screenshot({ encoding: 'base64' });\n  \n  return {\n    success: false,\n    error: error.message,\n    errorStack: error.stack,\n    timestamp: new Date().toISOString(),\n    screenshot: screenshot\n  };\n}\n```\n\n### Текущий промпт:\n{{ $json.userPrompt }}\n\n### Credentials:\n- SessionKey: {{ $json.sessionKey.substring(0, 20) }}...\n- CF Cookie: {{ $json.cfBmCookie.substring(0, 20) }}...",
        "options": {}
      },
      "name": "Note - Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        100
      ],
      "id": "note-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "Puppeteer node не установлен. Установите n8n-nodes-puppeteer через npm install",
              "type": "string"
            },
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "prompt_received",
              "name": "promptReceived",
              "value": "={{ $json.userPrompt }}",
              "type": "string"
            },
            {
              "id": "credentials_status",
              "name": "credentialsStatus",
              "value": "={{ $json.sessionKey !== 'YOUR_SESSION_KEY_HERE' ? 'Configured' : 'Not configured' }}",
              "type": "string"
            },
            {
              "id": "next_step",
              "name": "nextStep",
              "value": "Установите n8n-nodes-puppeteer и добавьте Puppeteer node между 'Extract Parameters' и этой нодой",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Placeholder Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        740,
        300
      ],
      "id": "placeholder-node"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        300
      ],
      "id": "respond-webhook-node"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Placeholder Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-15T13:30:00.000Z",
  "versionId": ""
}
