workflows/claude-browserless-working.json
{
  "name": "Claude.AI via Browserless (Working)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b1b1b1-b1b1-b1b1-b1b1-b1b1b1b1b1b1",
              "name": "browserlessToken",
              "value": "2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac",
              "type": "string"
            },
            {
              "id": "b2b2b2b2-b2b2-b2b2-b2b2-b2b2b2b2b2b2",
              "name": "sessionKey",
              "value": "YOUR_SESSION_KEY_HERE",
              "type": "string"
            },
            {
              "id": "b3b3b3b3-b3b3-b3b3-b3b3-b3b3b3b3b3b3",
              "name": "cfBmCookie",
              "value": "YOUR_CF_BM_COOKIE_HERE",
              "type": "string"
            },
            {
              "id": "b4b4b4b4-b4b4-b4b4-b4b4-b4b4b4b4b4b4",
              "name": "userPrompt",
              "value": "={{ $json.prompt || 'Привет! Как дела?' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b5b5b5b5-b5b5-b5b5-b5b5-b5b5b5b5b5b5",
      "name": "Set Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const https = require('https');\n\nconst token = $input.first().json.browserlessToken;\nconst sessionKey = $input.first().json.sessionKey;\nconst cfBmCookie = $input.first().json.cfBmCookie;\nconst userPrompt = $input.first().json.userPrompt;\n\nconst browserCode = `\nmodule.exports = async ({ page }) => {\n  await page.setCookie(\n    {name: 'sessionKey', value: '${sessionKey}', domain: '.claude.ai', path: '/', httpOnly: true, secure: true},\n    {name: '__cf_bm', value: '${cfBmCookie}', domain: '.claude.ai', path: '/', httpOnly: true, secure: true}\n  );\n  await page.goto('https://claude.ai/new', {waitUntil: 'networkidle2', timeout: 30000});\n  await page.waitForSelector('div[contenteditable=\"true\"]', {timeout: 15000});\n  await page.type('div[contenteditable=\"true\"]', \\`${userPrompt}\\`, {delay: 50});\n  await new Promise(r => setTimeout(r, 500));\n  await page.click('button[aria-label=\"Send Message\"]');\n  await page.waitForFunction(() => {\n    const messages = document.querySelectorAll('[data-testid=\"message\"]');\n    const lastMessage = messages[messages.length - 1];\n    if (!lastMessage) return false;\n    const isAssistant = lastMessage.querySelector('[data-testid=\"assistant-message\"]');\n    const hasContent = lastMessage.textContent.trim().length > 10;\n    const isLoading = document.querySelector('[data-testid=\"loading-indicator\"]');\n    return isAssistant && hasContent && !isLoading;\n  }, {timeout: 120000, polling: 1000});\n  const response = await page.evaluate(() => {\n    const messages = document.querySelectorAll('[data-testid=\"message\"]');\n    const lastMessage = messages[messages.length - 1];\n    if (lastMessage) {\n      const assistantMsg = lastMessage.querySelector('[data-testid=\"assistant-message\"]');\n      if (assistantMsg) return assistantMsg.textContent.trim();\n    }\n    return 'Ответ не найден';\n  });\n  return {success: true, response: response, prompt: \\`${userPrompt}\\`, timestamp: new Date().toISOString()};\n};\n`;\n\nconst postData = JSON.stringify({code: browserCode, context: {}});\n\nconst options = {\n  hostname: 'chrome.browserless.io',\n  port: 443,\n  path: `/function?token=${token}`,\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(postData)\n  }\n};\n\nreturn new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => {\n      try {\n        const result = JSON.parse(data);\n        resolve([{json: result}]);\n      } catch (e) {\n        resolve([{json: {success: false, error: 'Parse error', data: data}}]);\n      }\n    });\n  });\n  \n  req.on('error', (error) => {\n    resolve([{json: {success: false, error: error.message}}]);\n  });\n  \n  req.setTimeout(180000, () => {\n    req.destroy();\n    resolve([{json: {success: false, error: 'Request timeout'}}]);\n  });\n  \n  req.write(postData);\n  req.end();\n});"
      },
      "id": "c1c1c1c1-c1c1-c1c1-c1c1-c1c1c1c1c1c1",
      "name": "Call Browserless",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1d1d1d1-d1d1-d1d1-d1d1-d1d1d1d1d1d1",
              "name": "status",
              "value": "={{ $json.success ? '✅ Success' : '❌ Error' }}",
              "type": "string"
            },
            {
              "id": "d2d2d2d2-d2d2-d2d2-d2d2-d2d2d2d2d2d2",
              "name": "prompt",
              "value": "={{ $json.prompt || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "d3d3d3d3-d3d3-d3d3-d3d3-d3d3d3d3d3d3",
              "name": "response",
              "value": "={{ $json.response || $json.error || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "d4d4d4d4-d4d4-d4d4-d4d4-d4d4d4d4d4d4",
              "name": "timestamp",
              "value": "={{ $json.timestamp || new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d6d6d6d6-d6d6-d6d6-d6d6-d6d6d6d6d6d6",
      "name": "Format Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Call Browserless",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Browserless": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
