workflows/claude-browserless-final.json
{
  "name": "Claude.AI via Browserless (Final)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const token = '2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac';\nconst sessionKey = 'YOUR_SESSION_KEY_HERE';\nconst cfBmCookie = 'YOUR_CF_BM_COOKIE_HERE';\nconst userPrompt = $input.first().json.prompt || 'Привет! Как дела?';\n\nconst code = `module.exports=async({page})=>{await page.setCookie({name:'sessionKey',value:'${sessionKey}',domain:'.claude.ai',path:'/',httpOnly:true,secure:true},{name:'__cf_bm',value:'${cfBmCookie}',domain:'.claude.ai',path:'/',httpOnly:true,secure:true});await page.goto('https://claude.ai/new',{waitUntil:'networkidle2',timeout:30000});await page.waitForSelector('div[contenteditable=\"true\"]',{timeout:15000});await page.type('div[contenteditable=\"true\"]',\\`${userPrompt}\\`,{delay:50});await new Promise(r=>setTimeout(r,500));await page.click('button[aria-label=\"Send Message\"]');await page.waitForFunction(()=>{const m=document.querySelectorAll('[data-testid=\"message\"]');const l=m[m.length-1];if(!l)return false;const a=l.querySelector('[data-testid=\"assistant-message\"]');const h=l.textContent.trim().length>10;const i=document.querySelector('[data-testid=\"loading-indicator\"]');return a&&h&&!i;},{timeout:120000,polling:1000});const r=await page.evaluate(()=>{const m=document.querySelectorAll('[data-testid=\"message\"]');const l=m[m.length-1];if(l){const a=l.querySelector('[data-testid=\"assistant-message\"]');if(a)return a.textContent.trim();}return 'Ответ не найден';});return{success:true,response:r,prompt:\\`${userPrompt}\\`,timestamp:new Date().toISOString()};};`;\n\nreturn [{json: {url: `https://chrome.browserless.io/function?token=${token}`, code: code}}];"
      },
      "id": "b1",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"code\": $json.code, \"context\": {}} }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "c1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "status",
              "value": "={{ $json.success ? '✅ Success' : '❌ Error' }}",
              "type": "string"
            },
            {
              "id": "d2",
              "name": "prompt",
              "value": "={{ $json.prompt || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "d3",
              "name": "response",
              "value": "={{ $json.response || $json.error || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "d4",
              "name": "timestamp",
              "value": "={{ $json.timestamp || new Date().toISOString() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "e1",
      "name": "Format Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Prepare Request", "type": "main", "index": 0}]]
    },
    "Prepare Request": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "main": [[{"node": "Format Result", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
