workflows/claude-browserless-final.json
{
  "name": "Claude.AI via Browserless (Final)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const token = '2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac';\nconst sessionKey = 'YOUR_SESSION_KEY_HERE';\nconst cfBmCookie = 'YOUR_CF_BM_COOKIE_HERE';\nconst userPrompt = $input.first().json.prompt || 'Привет! Как дела?';\n\nconst code = `export default async({page,context})=>{try{await page.setUserAgent('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36');await page.setExtraHTTPHeaders({'Accept-Language':'en-US,en;q=0.9','Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8','Accept-Encoding':'gzip, deflate, br','DNT':'1','Connection':'keep-alive','Upgrade-Insecure-Requests':'1'});await page.evaluateOnNewDocument(()=>{Object.defineProperty(navigator,'webdriver',{get:()=>undefined});Object.defineProperty(navigator,'plugins',{get:()=>[1,2,3,4,5]});Object.defineProperty(navigator,'languages',{get:()=>['en-US','en']});window.chrome={runtime:{}};});await page.setCookie({name:'sessionKey',value:'${sessionKey}',domain:'.claude.ai',path:'/',httpOnly:true,secure:true},{name:'__cf_bm',value:'${cfBmCookie}',domain:'.claude.ai',path:'/',httpOnly:true,secure:true});await page.goto('https://claude.ai/new',{waitUntil:'networkidle2',timeout:60000});await new Promise(r=>setTimeout(r,5000));const title=await page.title();if(title.includes('Just a moment')||title.includes('Checking')){await page.waitForNavigation({waitUntil:'networkidle2',timeout:30000}).catch(()=>{});}await new Promise(r=>setTimeout(r,3000));const finalTitle=await page.title();const url=page.url();if(url.includes('login')||url.includes('auth')){return{success:false,error:'Authentication failed - redirected to login',url:url,title:finalTitle};}if(finalTitle.includes('Just a moment')){return{success:false,error:'Cloudflare challenge not solved',url:url,title:finalTitle,hint:'Try using /chrome endpoint with stealth mode'};}let inputSelector=null;const selectors=['div[contenteditable=\"true\"]','textarea[placeholder*=\"Message\"]','textarea[placeholder*=\"Talk\"]','div[role=\"textbox\"]','fieldset div[contenteditable=\"true\"]'];for(const sel of selectors){try{await page.waitForSelector(sel,{timeout:3000});inputSelector=sel;break;}catch(e){continue;}}if(!inputSelector){return{success:false,error:'Input field not found',url:url,pageTitle:finalTitle,selectors:selectors};}await page.type(inputSelector,\\`${userPrompt}\\`,{delay:50});await new Promise(r=>setTimeout(r,500));const buttonSelectors=['button[aria-label=\"Send Message\"]','button[aria-label*=\"Send\"]','button:has-text(\"Send\")'];let clicked=false;for(const btnSel of buttonSelectors){try{await page.click(btnSel);clicked=true;break;}catch(e){continue;}}if(!clicked){return{success:false,error:'Send button not found'};}await page.waitForFunction(()=>{const m=document.querySelectorAll('[data-testid=\"message\"]');const l=m[m.length-1];if(!l)return false;const a=l.querySelector('[data-testid=\"assistant-message\"]');const h=l.textContent.trim().length>10;const i=document.querySelector('[data-testid=\"loading-indicator\"]');return a&&h&&!i;},{timeout:120000,polling:1000});const r=await page.evaluate(()=>{const m=document.querySelectorAll('[data-testid=\"message\"]');const l=m[m.length-1];if(l){const a=l.querySelector('[data-testid=\"assistant-message\"]');if(a)return a.textContent.trim();}return 'Ответ не найден';});return{success:true,response:r,prompt:\\`${userPrompt}\\`,timestamp:new Date().toISOString()};}catch(err){return{success:false,error:err.message,stack:err.stack};}};`;\n\nreturn [{json: {url: `https://production-sfo.browserless.io/function?token=${token}&stealth`, body: code}}];"
      },
      "id": "b1",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/javascript",
        "body": "={{ $json.body }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "c1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "status",
              "value": "={{ $json.success ? '✅ Success' : '❌ Error' }}",
              "type": "string"
            },
            {
              "id": "d2",
              "name": "prompt",
              "value": "={{ $json.prompt || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "d3",
              "name": "response",
              "value": "={{ $json.response || $json.error || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "d4",
              "name": "timestamp",
              "value": "={{ $json.timestamp || new Date().toISOString() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "e1",
      "name": "Format Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Prepare Request", "type": "main", "index": 0}]]
    },
    "Prepare Request": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "main": [[{"node": "Format Result", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
