workflows/claude-browserless-unblock.json
{
  "name": "Claude.AI via Browserless UNBLOCK",
  "nodes": [
    {
      "parameters": {},
      "id": "a1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const token = '2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac';\nconst sessionKey = 'YOUR_SESSION_KEY_HERE';\nconst cfBmCookie = 'YOUR_CF_BM_COOKIE_HERE';\nconst userPrompt = $input.first().json.prompt || 'Привет! Как дела?';\n\nconst requestBody = {\n  url: 'https://claude.ai/new',\n  content: true,\n  cookies: true,\n  screenshot: false,\n  browserWSEndpoint: false,\n  setCookies: [\n    {\n      name: 'sessionKey',\n      value: sessionKey,\n      domain: '.claude.ai',\n      path: '/',\n      httpOnly: true,\n      secure: true\n    },\n    {\n      name: '__cf_bm',\n      value: cfBmCookie,\n      domain: '.claude.ai',\n      path: '/',\n      httpOnly: true,\n      secure: true\n    }\n  ],\n  waitFor: 5000\n};\n\nreturn [{json: {\n  url: `https://production-sfo.browserless.io/unblock?token=${token}&timeout=300000&stealth=true`,\n  body: JSON.stringify(requestBody)\n}}];"
      },
      "id": "b1",
      "name": "Prepare Unblock Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "c1",
      "name": "HTTP Request Unblock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const result = $input.first().json;\n\nif (typeof result === 'string') {\n  const hasCloudflare = result.includes('Just a moment') || result.includes('Checking your browser');\n  const hasLoginForm = result.includes('login') || result.includes('sign in');\n  const hasInputField = result.includes('contenteditable=\"true\"') || result.includes('placeholder');\n  const titleMatch = result.match(/<title>(.*?)<\\/title>/);\n  const pageTitle = titleMatch ? titleMatch[1] : 'Unknown';\n  \n  return [{json: {\n    status: hasCloudflare ? '❌ Cloudflare' : (hasInputField ? '✅ Success' : '⚠️ Unknown'),\n    pageTitle: pageTitle,\n    hasCloudflare: hasCloudflare,\n    hasLoginForm: hasLoginForm,\n    hasInputField: hasInputField,\n    htmlLength: result.length,\n    preview: result.substring(0, 500)\n  }}];\n} else {\n  return [{json: {\n    status: result.status || '⚠️ Unknown',\n    result: result\n  }}];\n}"
      },
      "id": "d1",
      "name": "Analyze Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Prepare Unblock Request", "type": "main", "index": 0}]]
    },
    "Prepare Unblock Request": {
      "main": [[{"node": "HTTP Request Unblock", "type": "main", "index": 0}]]
    },
    "HTTP Request Unblock": {
      "main": [[{"node": "Analyze Result", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
