workflows/extract-sitekey-browserless-api.json
{
  "name": "Extract Sitekey Browserless API (Webhook)",
  "nodes": [
    {
      "parameters": {
        "path": "extract-sitekey",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "extract-sitekey",
      "id": "webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "targetURL",
              "name": "targetURL",
              "value": "={{ $json.body.url || $json.query.url || 'https://claude.ai/new' }}",
              "type": "string"
            },
            {
              "id": "waitTime",
              "name": "waitTime",
              "value": "={{ $json.body.waitTime || 5000 }}",
              "type": "number"
            }
          ]
        }
      },
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300],
      "id": "params"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/function?token=2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  code: `module.exports = async ({ page, context }) => {\n    const { targetURL, waitTime } = context;\n    try {\n      await page.evaluateOnNewDocument(() => {\n        window.captchaData = {};\n        window.captchaIntercepted = false;\n        const checkInterval = setInterval(() => {\n          if (window.turnstile && !window.captchaIntercepted) {\n            clearInterval(checkInterval);\n            window.captchaIntercepted = true;\n            const originalRender = window.turnstile.render;\n            window.turnstile.render = function(container, params) {\n              window.captchaData = {\n                type: 'challenge_page',\n                sitekey: params.sitekey,\n                action: params.action,\n                cData: params.cData,\n                chlPageData: params.chlPageData,\n                intercepted: true\n              };\n              return originalRender.call(this, container, params);\n            };\n          }\n        }, 50);\n      });\n      await page.goto(targetURL, { waitUntil: 'networkidle2', timeout: 30000 });\n      await page.waitForTimeout(waitTime);\n      const result = await page.evaluate(() => {\n        const data = {\n          success: false,\n          url: window.location.href,\n          userAgent: navigator.userAgent,\n          timestamp: new Date().toISOString(),\n          captchaType: 'not_found',\n          sitekey: null,\n          turnstileData: null,\n          searchMethods: []\n        };\n        if (window.captchaData && window.captchaData.intercepted && window.captchaData.sitekey) {\n          data.success = true;\n          data.captchaType = 'challenge_page';\n          data.sitekey = window.captchaData.sitekey;\n          data.turnstileData = window.captchaData;\n          data.searchMethods.push('✅ turnstile.render() intercept');\n          return data;\n        }\n        data.searchMethods.push('❌ turnstile.render() - not found');\n        const selectors = ['[data-sitekey]', '[sitekey]', 'div[class*=\\\"turnstile\\\"]', 'iframe[src*=\\\"challenges.cloudflare.com\\\"]'];\n        for (const selector of selectors) {\n          try {\n            const el = document.querySelector(selector);\n            if (el) {\n              const sk = el.getAttribute('data-sitekey') || el.getAttribute('sitekey');\n              if (sk && sk.length > 10) {\n                data.success = true;\n                data.captchaType = 'standalone';\n                data.sitekey = sk;\n                data.searchMethods.push('✅ selector: ' + selector);\n                return data;\n              }\n              if (el.tagName === 'IFRAME') {\n                const src = el.getAttribute('src');\n                if (src) {\n                  const m = src.match(/[?&]sitekey=([^&]+)/);\n                  if (m && m[1]) {\n                    data.success = true;\n                    data.captchaType = 'standalone_iframe';\n                    data.sitekey = m[1];\n                    data.searchMethods.push('✅ iframe src');\n                    return data;\n                  }\n                }\n              }\n            }\n          } catch (e) {}\n        }\n        data.searchMethods.push('❌ selectors - not found');\n        const html = document.documentElement.innerHTML;\n        const patterns = [\n          /data-sitekey=[\\\"']([0-9a-zA-Z_-]{10,100})[\\\"']/,\n          /[\\\"']sitekey[\\\"'][\\\\s]*:[\\\\s]*[\\\"']([0-9a-zA-Z_-]{10,100})[\\\"']/\n        ];\n        for (const p of patterns) {\n          const m = html.match(p);\n          if (m && m[1] && m[1].length >= 10) {\n            data.success = true;\n            data.captchaType = 'html_extraction';\n            data.sitekey = m[1];\n            data.searchMethods.push('✅ html regex');\n            return data;\n          }\n        }\n        data.searchMethods.push('❌ html regex - not found');\n        data.error = 'Sitekey not found';\n        return data;\n      });\n      return { data: result };\n    } catch (error) {\n      return { data: { success: false, error: error.message, url: targetURL } };\n    }\n  };`,\n  context: {\n    targetURL: $json.targetURL,\n    waitTime: $json.waitTime\n  }\n}) }}",
        "options": {
          "timeout": 90000
        }
      },
      "name": "Browserless Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "id": "extract"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "={{ $json.data.success }}",
              "type": "boolean"
            },
            {
              "id": "websiteKey",
              "name": "websiteKey",
              "value": "={{ $json.data.sitekey }}",
              "type": "string"
            },
            {
              "id": "websiteURL",
              "name": "websiteURL",
              "value": "={{ $json.data.url }}",
              "type": "string"
            },
            {
              "id": "captchaType",
              "name": "captchaType",
              "value": "={{ $json.data.captchaType }}",
              "type": "string"
            },
            {
              "id": "userAgent",
              "name": "userAgent",
              "value": "={{ $json.data.userAgent }}",
              "type": "string"
            },
            {
              "id": "searchMethods",
              "name": "searchMethods",
              "value": "={{ $json.data.searchMethods }}",
              "type": "object"
            },
            {
              "id": "action",
              "name": "action",
              "value": "={{ $json.data.turnstileData?.action || null }}",
              "type": "string"
            },
            {
              "id": "data",
              "name": "data",
              "value": "={{ $json.data.turnstileData?.cData || null }}",
              "type": "string"
            },
            {
              "id": "pagedata",
              "name": "pagedata",
              "value": "={{ $json.data.turnstileData?.chlPageData || null }}",
              "type": "string"
            },
            {
              "id": "rucaptchaPayload",
              "name": "rucaptchaPayload",
              "value": "={{ $json.data.success ? {\n  clientKey: 'YOUR_RUCAPTCHA_API_KEY',\n  task: {\n    type: 'TurnstileTaskProxyless',\n    websiteURL: $json.data.url,\n    websiteKey: $json.data.sitekey,\n    action: $json.data.turnstileData?.action,\n    data: $json.data.turnstileData?.cData,\n    pagedata: $json.data.turnstileData?.chlPageData\n  }\n} : null }}",
              "type": "object"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.data.error || null }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 300],
      "id": "format"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Extract Parameters", "type": "main", "index": 0}]]
    },
    "Extract Parameters": {
      "main": [[{"node": "Browserless Extract", "type": "main", "index": 0}]]
    },
    "Browserless Extract": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["browserless", "api", "webhook", "turnstile"],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T18:20:00.000Z",
  "versionId": ""
}
