workflows/extract-turnstile-sitekey.json
{
  "name": "Extract Turnstile Sitekey",
  "nodes": [
    {
      "parameters": {},
      "id": "a1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const browserlessToken = '2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac';\n\nconst code = `export default async({page,context})=>{try{await page.goto('https://claude.ai/new',{waitUntil:'networkidle2',timeout:60000});await new Promise(r=>setTimeout(r,5000));const sitekeys=await page.evaluate(()=>{const results=[];const elements=document.querySelectorAll('[data-sitekey]');elements.forEach(el=>{const sitekey=el.getAttribute('data-sitekey');if(sitekey){results.push({method:'data-sitekey attribute',sitekey:sitekey,element:el.tagName});}});const scripts=document.querySelectorAll('script');scripts.forEach(script=>{const content=script.textContent||script.innerHTML;const matches=content.match(/sitekey[\"\\s:]+[\"'](\\w+)[\"']/g);if(matches){matches.forEach(match=>{const key=match.match(/[\"'](\\w+)[\"']/);if(key&&key[1]){results.push({method:'script sitekey',sitekey:key[1],source:'inline script'});}});}const turnstileMatches=content.match(/turnstile\\.render\\([^)]+/g);if(turnstileMatches){turnstileMatches.forEach(match=>{const keyMatch=match.match(/sitekey[\"\\s:]+[\"']([^\"']+)[\"']/);if(keyMatch&&keyMatch[1]){results.push({method:'turnstile.render',sitekey:keyMatch[1],source:'turnstile call'});}});}});const iframes=document.querySelectorAll('iframe[src*=\"challenges.cloudflare.com\"]');iframes.forEach(iframe=>{const src=iframe.src;const urlParams=new URLSearchParams(src.split('?')[1]);const sitekey=urlParams.get('sitekey');if(sitekey){results.push({method:'iframe src',sitekey:sitekey,source:'cloudflare iframe'});}});if(window.turnstile){results.push({method:'window.turnstile exists',info:'Turnstile is loaded',hasRender:typeof window.turnstile.render==='function'});}return results;});const html=await page.content();const title=await page.title();const url=page.url();return{success:true,sitekeys:sitekeys,pageTitle:title,url:url,htmlLength:html.length,turnstileFound:sitekeys.length>0};}catch(err){return{success:false,error:err.message,stack:err.stack};}};`;\n\nreturn [{json: {\n  url: `https://production-sfo.browserless.io/function?token=${browserlessToken}&stealth`,\n  body: code\n}}];"
      },
      "id": "b1",
      "name": "Prepare Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/javascript",
        "body": "={{ $json.body }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "c1",
      "name": "Extract Sitekey",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const result = $input.first().json;\n\nif (result.success && result.sitekeys && result.sitekeys.length > 0) {\n  // Группируем уникальные sitekey\n  const uniqueSitekeys = [...new Set(result.sitekeys.map(item => item.sitekey))];\n  \n  return [{\n    json: {\n      status: '✅ Sitekey найден!',\n      sitekeys: uniqueSitekeys,\n      details: result.sitekeys,\n      pageTitle: result.pageTitle,\n      url: result.url,\n      recommendation: uniqueSitekeys.length > 0 ? `Используйте этот sitekey: ${uniqueSitekeys[0]}` : 'Sitekey не найден'\n    }\n  }];\n} else if (result.success) {\n  return [{\n    json: {\n      status: '⚠️ Sitekey не найден на странице',\n      pageTitle: result.pageTitle,\n      url: result.url,\n      turnstileFound: result.turnstileFound,\n      suggestion: 'Возможно Turnstile загружается динамически. Попробуйте метод через Console в браузере.'\n    }\n  }];\n} else {\n  return [{\n    json: {\n      status: '❌ Ошибка',\n      error: result.error,\n      stack: result.stack\n    }\n  }];\n}"
      },
      "id": "d1",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Prepare Extraction", "type": "main", "index": 0}]]
    },
    "Prepare Extraction": {
      "main": [[{"node": "Extract Sitekey", "type": "main", "index": 0}]]
    },
    "Extract Sitekey": {
      "main": [[{"node": "Format Results", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
