workflows/extract-sitekey-browserless-v2.json
{
  "name": "Extract Sitekey Browserless v2 (Fixed)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "targetURL",
              "name": "targetURL",
              "value": "https://claude.ai/new",
              "type": "string"
            },
            {
              "id": "waitTime",
              "name": "waitTime",
              "value": 5000,
              "type": "number"
            }
          ]
        }
      },
      "name": "⚙️ Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300],
      "id": "settings",
      "notes": "Измените targetURL на нужный сайт"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/content?token=2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  url: $json.targetURL,\n  waitForTimeout: $json.waitTime,\n  gotoOptions: {\n    waitUntil: 'networkidle2'\n  }\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "🌐 Get Page Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "id": "content",
      "notes": "Получает HTML контент страницы"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json;\nlet htmlContent = '';\n\nif (typeof html === 'string') {\n  htmlContent = html;\n} else if (html.body) {\n  htmlContent = html.body;\n} else {\n  htmlContent = JSON.stringify(html);\n}\n\nconst result = {\n  success: false,\n  url: $('⚙️ Settings').item.json.targetURL,\n  timestamp: new Date().toISOString(),\n  captchaType: 'not_found',\n  sitekey: null,\n  searchMethods: []\n};\n\n// Метод 1: Поиск data-sitekey атрибута\nconst dataSitekeyMatch = htmlContent.match(/data-sitekey=[\"']([0-9a-zA-Z_-]{10,100})[\"']/);\nif (dataSitekeyMatch && dataSitekeyMatch[1]) {\n  result.success = true;\n  result.captchaType = 'standalone';\n  result.sitekey = dataSitekeyMatch[1];\n  result.searchMethods.push('✅ data-sitekey attribute');\n  return result;\n}\nresult.searchMethods.push('❌ data-sitekey not found');\n\n// Метод 2: Поиск sitekey в объектах\nconst sitekeyPropMatch = htmlContent.match(/[\"']sitekey[\"']\\s*:\\s*[\"']([0-9a-zA-Z_-]{10,100})[\"']/);\nif (sitekeyPropMatch && sitekeyPropMatch[1]) {\n  result.success = true;\n  result.captchaType = 'standalone';\n  result.sitekey = sitekeyPropMatch[1];\n  result.searchMethods.push('✅ sitekey property');\n  return result;\n}\nresult.searchMethods.push('❌ sitekey property not found');\n\n// Метод 3: Поиск в iframe src\nconst iframeSrcMatch = htmlContent.match(/src=[\"']([^\"']*challenges\\.cloudflare\\.com[^\"']*)[\"]/);\nif (iframeSrcMatch && iframeSrcMatch[1]) {\n  const sitekeyFromIframe = iframeSrcMatch[1].match(/[?&]sitekey=([^&\"']+)/);\n  if (sitekeyFromIframe && sitekeyFromIframe[1]) {\n    result.success = true;\n    result.captchaType = 'standalone_iframe';\n    result.sitekey = sitekeyFromIframe[1];\n    result.searchMethods.push('✅ iframe src');\n    return result;\n  }\n}\nresult.searchMethods.push('❌ iframe src not found');\n\n// Метод 4: Поиск паттерна 0x...\nconst oxPatternMatch = htmlContent.match(/[\"'](0x[0-9a-zA-Z_-]{10,100})[\"']/);\nif (oxPatternMatch && oxPatternMatch[1]) {\n  result.success = true;\n  result.captchaType = 'html_extraction';\n  result.sitekey = oxPatternMatch[1];\n  result.searchMethods.push('✅ 0x pattern');\n  return result;\n}\nresult.searchMethods.push('❌ 0x pattern not found');\n\nresult.error = 'Cloudflare Turnstile sitekey not found';\nresult.suggestion = 'Try increasing waitTime or check if page uses Turnstile';\n\nreturn result;"
      },
      "name": "🔍 Extract Sitekey from HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "extract",
      "notes": "Извлекает sitekey из HTML кода"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "✅ success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            },
            {
              "id": "sitekey",
              "name": "🔑 websiteKey",
              "value": "={{ $json.sitekey }}",
              "type": "string"
            },
            {
              "id": "url",
              "name": "🌐 websiteURL",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "type",
              "name": "📋 captchaType",
              "value": "={{ $json.captchaType }}",
              "type": "string"
            },
            {
              "id": "methods",
              "name": "🔍 searchMethods",
              "value": "={{ JSON.stringify($json.searchMethods, null, 2) }}",
              "type": "string"
            },
            {
              "id": "rucaptcha",
              "name": "🤖 RuCaptcha Payload",
              "value": "={{ $json.success ? JSON.stringify({\n  clientKey: 'YOUR_RUCAPTCHA_API_KEY',\n  task: {\n    type: 'TurnstileTaskProxyless',\n    websiteURL: $json.url,\n    websiteKey: $json.sitekey\n  }\n}, null, 2) : 'N/A - Sitekey not found' }}",
              "type": "string"
            },
            {
              "id": "error",
              "name": "❌ error",
              "value": "={{ $json.error || null }}",
              "type": "string"
            },
            {
              "id": "suggestion",
              "name": "💡 suggestion",
              "value": "={{ $json.suggestion || null }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "⏰ timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "📊 Final Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 300],
      "id": "result"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "⚙️ Settings", "type": "main", "index": 0}]]
    },
    "⚙️ Settings": {
      "main": [[{"node": "🌐 Get Page Content", "type": "main", "index": 0}]]
    },
    "🌐 Get Page Content": {
      "main": [[{"node": "🔍 Extract Sitekey from HTML", "type": "main", "index": 0}]]
    },
    "🔍 Extract Sitekey from HTML": {
      "main": [[{"node": "📊 Final Result", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["browserless", "turnstile", "sitekey", "simple"],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T18:30:00.000Z",
  "versionId": ""
}
