workflows/extract-turnstile-sitekey-v3.json
{
  "name": "Extract Turnstile Sitekey v3",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-v3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "token",
              "name": "browserlessToken",
              "value": "={{ $env.BROWSERLESS_TOKEN || 'YOUR_TOKEN_HERE' }}",
              "type": "string"
            },
            {
              "id": "url",
              "name": "targetURL",
              "value": "https://claude.ai/new",
              "type": "string"
            },
            {
              "id": "wait",
              "name": "waitTime",
              "value": "5000",
              "type": "number"
            }
          ]
        }
      },
      "id": "config-v3",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const code = [\n'module.exports = async ({ page, context }) => {',\n'  const { targetURL, waitTime } = context;',\n'  try {',\n'    let capturedData = null;',\n'    await page.evaluateOnNewDocument(() => {',\n'      window.__turnstileData = null;',\n'      Object.defineProperty(window, \"turnstile\", {',\n'        value: new Proxy({}, {',\n'          get(target, prop) {',\n'            if (prop === \"render\") {',\n'              return function(container, params) {',\n'                window.__turnstileData = {',\n'                  sitekey: params.sitekey || params[\"site-key\"],',\n'                  action: params.action,',\n'                  cData: params.cData || params[\"c-data\"],',\n'                  chlPageData: params.chlPageData || params[\"chl-page-data\"]',\n'                };',\n'                return \"widget-id\";',\n'              };',\n'            }',\n'            return target[prop];',\n'          }',\n'        }),',\n'        configurable: false',\n'      });',\n'    });',\n'    await page.goto(targetURL, { waitUntil: \"networkidle2\", timeout: 30000 });',\n'    await page.waitForTimeout(waitTime);',\n'    capturedData = await page.evaluate(() => window.__turnstileData);',\n'    if (!capturedData || !capturedData.sitekey) {',\n'      const content = await page.content();',\n'      const match = content.match(/sitekey[\\\\\\\\\"\\':s]+(6[a-zA-Z0-9_-]{39,})/i);',\n'      if (match) capturedData = { sitekey: match[1], action: \"login\" };',\n'    }',\n'    if (!capturedData || !capturedData.sitekey) {',\n'      throw new Error(\"No sitekey found\");',\n'    }',\n'    return {',\n'      success: true,',\n'      data: {',\n'        sitekey: capturedData.sitekey,',\n'        action: capturedData.action || \"login\",',\n'        pageurl: targetURL,',\n'        cData: capturedData.cData,',\n'        chlPageData: capturedData.chlPageData,',\n'        rucaptcha: {',\n'          method: \"turnstile\",',\n'          sitekey: capturedData.sitekey,',\n'          pageurl: targetURL,',\n'          action: capturedData.action || \"login\",',\n'          json: 1',\n'        }',\n'      }',\n'    };',\n'  } catch (err) {',\n'    return { success: false, error: err.message };',\n'  }',\n'};'\n].join('\\n');\n\nconst requestBody = {\n  code: code,\n  context: {\n    targetURL: $input.item.json.targetURL,\n    waitTime: $input.item.json.waitTime\n  }\n};\n\nreturn { \n  json: { \n    requestBody: requestBody,\n    token: $input.item.json.browserlessToken \n  } \n};"
      },
      "id": "prepare-v3",
      "name": "Prepare Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chrome.browserless.io/function?token={{ $json.token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "http-v3",
      "name": "Call Browserless",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-v3",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out1",
              "name": "sitekey",
              "value": "={{ $json.data.sitekey }}",
              "type": "string"
            },
            {
              "id": "out2",
              "name": "rucaptcha_request",
              "value": "={{ $json.data.rucaptcha }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "success-v3",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err1",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "error-v3",
      "name": "Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Prepare Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Code": {
      "main": [
        [
          {
            "node": "Call Browserless",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Browserless": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "v3"
}
