workflows/extract-turnstile-sitekey-v2.json
{
  "name": "Extract Turnstile Sitekey v2",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node-v2",
      "name": "When clicking Test workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "token-param",
              "name": "browserlessToken",
              "value": "={{ $env.BROWSERLESS_TOKEN || 'YOUR_TOKEN_HERE' }}",
              "type": "string"
            },
            {
              "id": "url-param",
              "name": "targetURL",
              "value": "https://claude.ai/new",
              "type": "string"
            },
            {
              "id": "wait-param",
              "name": "waitTime",
              "value": "5000",
              "type": "number"
            }
          ]
        }
      },
      "id": "params-node-v2",
      "name": "Configure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get input parameters\nconst targetURL = $input.item.json.targetURL;\nconst waitTime = $input.item.json.waitTime;\nconst browserlessToken = $input.item.json.browserlessToken;\n\n// Prepare the Browserless function code\nconst browserlessFunction = [\n  'module.exports = async ({ page, context }) => {',\n  '  const { targetURL, waitTime } = context;',\n  '  try {',\n  '    let capturedData = null;',\n  '    await page.evaluateOnNewDocument(() => {',\n  '      window.__turnstileData = null;',\n  '      Object.defineProperty(window, \"turnstile\", {',\n  '        value: new Proxy({}, {',\n  '          get(target, prop) {',\n  '            if (prop === \"render\") {',\n  '              return function(container, params) {',\n  '                console.log(\"[INTERCEPTED] Turnstile render called\");',\n  '                window.__turnstileData = {',\n  '                  sitekey: params.sitekey || params[\"site-key\"],',\n  '                  action: params.action,',\n  '                  cData: params.cData || params[\"c-data\"],',\n  '                  chlPageData: params.chlPageData || params[\"chl-page-data\"],',\n  '                  theme: params.theme,',\n  '                  language: params.language,',\n  '                  size: params.size,',\n  '                  allParams: params',\n  '                };',\n  '                return \"intercepted-widget-id\";',\n  '              };',\n  '            }',\n  '            return target[prop];',\n  '          }',\n  '        }),',\n  '        configurable: false',\n  '      });',\n  '    });',\n  '    console.log(\"[NAVIGATE] Going to \" + targetURL);',\n  '    await page.goto(targetURL, { waitUntil: \"networkidle2\", timeout: 30000 });',\n  '    console.log(\"[WAIT] Waiting \" + waitTime + \"ms for Turnstile\");',\n  '    await page.waitForTimeout(waitTime);',\n  '    capturedData = await page.evaluate(() => window.__turnstileData);',\n  '    if (!capturedData || !capturedData.sitekey) {',\n  '      console.log(\"[FALLBACK] Searching for sitekey in page source\");',\n  '      const pageContent = await page.content();',\n  '      const regex = /sitekey[\\\\\\\\\"\\':s]+(6[a-zA-Z0-9_-]{39,})/i;',\n  '      const match = pageContent.match(regex);',\n  '      if (match) {',\n  '        capturedData = {',\n  '          sitekey: match[1],',\n  '          action: \"login\",',\n  '          method: \"page_source\",',\n  '          pageURL: targetURL',\n  '        };',\n  '      }',\n  '    }',\n  '    if (!capturedData || !capturedData.sitekey) {',\n  '      throw new Error(\"Could not extract Turnstile sitekey\");',\n  '    }',\n  '    return {',\n  '      success: true,',\n  '      data: {',\n  '        cloudflare_turnstile: {',\n  '          sitekey: capturedData.sitekey,',\n  '          pageurl: targetURL,',\n  '          action: capturedData.action || \"login\",',\n  '          cData: capturedData.cData,',\n  '          chlPageData: capturedData.chlPageData',\n  '        },',\n  '        raw_data: capturedData,',\n  '        rucaptcha_request: {',\n  '          method: \"turnstile\",',\n  '          sitekey: capturedData.sitekey,',\n  '          pageurl: targetURL,',\n  '          data: capturedData.cData,',\n  '          pagedata: capturedData.chlPageData,',\n  '          action: capturedData.action || \"login\",',\n  '          json: 1',\n  '        }',\n  '      },',\n  '      extracted_at: new Date().toISOString(),',\n  '      target_url: targetURL',\n  '    };',\n  '  } catch (error) {',\n  '    console.error(\"[ERROR]\", error.message);',\n  '    return {',\n  '      success: false,',\n  '      error: error.message,',\n  '      stack: error.stack,',\n  '      target_url: targetURL',\n  '    };',\n  '  }',\n  '};'\n].join('\\n');\n\n// Make the request using fetch\ntry {\n  const apiUrl = 'https://chrome.browserless.io/function?token=' + browserlessToken;\n  \n  const fetchResponse = await fetch(apiUrl, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      code: browserlessFunction,\n      context: {\n        targetURL: targetURL,\n        waitTime: waitTime\n      }\n    })\n  });\n  \n  if (!fetchResponse.ok) {\n    throw new Error('Browserless API returned status: ' + fetchResponse.status);\n  }\n  \n  const result = await fetchResponse.json();\n  \n  return {\n    json: result\n  };\n  \n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      stack: error.stack\n    }\n  };\n}"
      },
      "id": "extract-node-v2",
      "name": "Extract Sitekey",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node-v2",
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-sitekey",
              "name": "sitekey",
              "value": "={{ $json.data.cloudflare_turnstile.sitekey }}",
              "type": "string"
            },
            {
              "id": "out-action",
              "name": "action",
              "value": "={{ $json.data.cloudflare_turnstile.action }}",
              "type": "string"
            },
            {
              "id": "out-rucaptcha",
              "name": "rucaptcha_request",
              "value": "={{ $json.data.rucaptcha_request }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "success-node-v2",
      "name": "Success Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "error-node-v2",
      "name": "Error Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "When clicking Test workflow": {
      "main": [
        [
          {
            "node": "Configure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure": {
      "main": [
        [
          {
            "node": "Extract Sitekey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sitekey": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Success Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-18T00:00:00.000Z",
      "updatedAt": "2025-11-18T00:00:00.000Z",
      "id": "turnstile-v2",
      "name": "turnstile"
    }
  ],
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "v2"
}
