workflows/github_repo_workflows_sync.json
{
  "createdAt": "2025-11-06T12:22:57.961Z",
  "updatedAt": "2025-11-06T12:22:57.961Z",
  "id": "KgDSQHhNv02ZiyTV",
  "name": "github_repo_workflows_sync",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "a77a6ba9-a452-47bf-ae73-861f8e156fbf",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        128,
        992
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "id": "049f99e0-ffe3-4819-9687-99705218d4dc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1888,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "=/{{ $json.repo_workflows_path }}"
      },
      "id": "29a7a0c7-c9b1-44c0-a663-4791f53d4676",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1264,
        608
      ],
      "webhookId": "0614066f-212d-4f9e-9da2-fa4a80b44baf",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "2c57913a-53b0-4b14-a5e3-77471d02c0b1",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -816,
        608
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "4ef4a1aa-2fd8-4420-afc3-6c5cda6d82c0",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1040,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "6dd5d071-a2c5-4d8a-b734-fc459e72ad6e",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        784,
        128
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "2295ebdc-bb85-4d3c-bd98-e6aaf1bc9422",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        128,
        128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "87c3c353-5a3c-4efe-9164-49bff34dde32",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        352,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "3673e3ee-bc19-41c3-8218-7cb7e59b90df",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Update'].json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}",
        "additionalParameters": {
          "sha": "={{ $('Edit for Update').item.json.sha }}"
        }
      },
      "id": "8375a926-dcc6-4776-b7ae-07a9c36ed44d",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1600,
        768
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "5dd48fc9-e849-4689-84a1-af3b17ce385d",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        944,
        768
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "e43e61a5-737a-43c0-a168-3c7ae7e3d7ae",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1168,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "3d396479-956a-4854-82fa-bc0cf03671a0",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        -368,
        480
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "ddfa40f0-4c5c-45e3-939f-fe61d58c621f",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        720,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['different']['id']\n\n# Get all decoded workflow items\nall_decoded = _('Decode to json').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "c62bb578-191f-4ceb-9958-f6509343b694",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['different']['id']\n\n# Get all n8n workflow items\nall_n8n = _('n8n').all()\n\n# Get all GitHub decoded items (with SHA)\nall_github = _('Decode to json').all()\n\n# Filter for the matching workflow from n8n\nmatched_n8n = [\n    item.json \n    for item in all_n8n \n    if item.json.get('id') == workflow_id\n]\n\n# Filter for the matching file from GitHub (to get SHA)\nmatched_github = [\n    item.json \n    for item in all_github \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it with SHA from GitHub\nif matched_n8n and matched_github:\n    return [{'json': {\n        'dataset': matched_n8n[0],\n        'github_sha': matched_github[0].get('sha', '')\n    }}]\nelif matched_n8n:\n    return [{'json': {'dataset': matched_n8n[0], 'github_sha': ''}}]\nelse:\n    return []\n"
      },
      "id": "41e1c3d9-731e-4186-be58-4bbe8b48db24",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        768
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "0c2220b0-6b4f-41b1-af51-63d075e03a87",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "28ae9051-d342-484c-bbd9-ba4922795816",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            },
            {
              "id": "f1a2b3c4-d5e6-47f8-a9b0-c1d2e3f4a5b6",
              "name": "sha",
              "type": "string",
              "value": "={{ $('Code - InputA').item.json.github_sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "54ac3e37-c651-4bc2-8900-2cf0201bb82c",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        1392,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 320,
        "width": 1000
      },
      "id": "d663c652-69fe-47eb-af75-4eea66947270",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "6c5cfa35-7676-4eb7-b181-98df73923ad5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14525e61-8d4c-45c1-9afc-8cc7500570c8",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        128,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-47a8-b9c0-d1e2f3a4b5c6",
              "name": "decoded_content",
              "type": "string",
              "value": "={{ $json.content.base64Decode() }}"
            },
            {
              "id": "b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7",
              "name": "sha",
              "type": "string",
              "value": "={{ $json.sha }}"
            },
            {
              "id": "c3d4e5f6-a7b8-49c0-d1e2-f3a4b5c6d7e8",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "d4e5f6a7-b8c9-40d1-e2f3-a4b5c6d7e8f9",
              "name": "path",
              "type": "string",
              "value": "={{ $json.path }}"
            },
            {
              "id": "e5f6a7b8-c9d0-41e2-f3a4-b5c6d7e8f9a0",
              "name": "id",
              "type": "string",
              "value": "={{ JSON.parse($json.content.base64Decode()).id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f970946b-6dba-41ae-89e3-fc2b35153618",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        -608,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "a003d18c-0aa0-4e63-8270-5348e18e1630",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1040,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": ""
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": ""
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a0bfc16b-9ad8-44f8-8ed2-d431090522da",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -1664,
        480
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e2780fed-abda-42db-a470-59696aee2981",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-06T12:22:57.961Z",
      "updatedAt": "2025-11-06T12:22:57.961Z",
      "role": "workflow:owner",
      "workflowId": "KgDSQHhNv02ZiyTV",
      "projectId": "6RdnQGWBgqXn6vl2"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-11-06T12:22:10.568Z",
      "updatedAt": "2025-11-06T12:22:10.568Z",
      "id": "xkzGvp1hG1l7tpZS",
      "name": "github"
    }
  ]
}