workflows/github_repo_workflows_sync.json
{
  "name": "github_repo_workflows_sync",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "98f2ad14-008f-48a4-a669-93e029f44ce0",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        128,
        992
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "SpXj1mMDdnf13mdr",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "id": "93c17fea-92e4-4b43-be97-20bd11d4f194",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1888,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "=/{{ $json.repo_workflows_path }}"
      },
      "id": "ddb839e1-6a0e-4474-a067-a77bf1502e57",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1264,
        608
      ],
      "webhookId": "0614066f-212d-4f9e-9da2-fa4a80b44baf",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').first().json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').first().json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "d138607e-e3e3-486d-afc4-64edc0cbc695",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -816,
        608
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {
          "tags": "github4"
        },
        "requestOptions": {}
      },
      "id": "472150c6-73ab-40de-8077-916bb7222c77",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1040,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "SpXj1mMDdnf13mdr",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n    // Deep copy using JSON\n    const workflow = JSON.parse(JSON.stringify(item.json));\n\n    // Remove auto-generated fields from n8n\n    const fieldsToRemove = [\n        'id', 'createdAt', 'updatedAt', 'versionId',\n        'meta', 'pinData', 'staticData', 'shared',\n        'isArchived', 'triggerCount'\n    ];\n\n    fieldsToRemove.forEach(field => {\n        delete workflow[field];\n    });\n\n    // Clean tags - keep only name\n    if (workflow.tags && Array.isArray(workflow.tags)) {\n        workflow.tags = workflow.tags.map(tag => {\n            if (typeof tag === 'object' && tag.name) {\n                return { name: tag.name };\n            }\n            return tag;\n        });\n    }\n\n    results.push({ json: workflow });\n}\n\nreturn results;"
      },
      "id": "34596920-1280-4299-b872-2edcc42e2153",
      "name": "Clean n8n workflows",
      "type": "n8n-nodes-base.code",
      "position": [
        -736,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').first().json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').first().json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').first().json.repo_workflows_path }}/{{ $json.fileName }}",
        "fileContent": "={{ $('To base64').first().json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "9582277c-8de7-451f-9d0b-1fa385cad0b1",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        784,
        128
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "eb77846a-a191-4b7f-807a-1161423a8bb0",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        128,
        128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "3c0a0850-6829-4c3f-bf73-ebb26c8a02b8",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        352,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "4c4f3c5c-daa2-4328-b6f5-90890488f3b6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').first().json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').first().json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').first().json.repo_workflows_path }}/{{ $json.fileName }}",
        "fileContent": "={{ $('To base').first().json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $json.commitDate }}"
      },
      "id": "dbcf2389-86f7-43a6-b28d-cff0ca1ddc6f",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1600,
        768
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "a2cae087-6d7b-4a49-81d3-b087b5e616b1",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        944,
        768
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "f7b2dfbb-e653-4c15-8761-e3113e4dd400",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1168,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "options": {
          "disableDotNotation": false
        }
      },
      "id": "141d23d6-51ee-4182-8650-f89a48c7281e",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        -368,
        480
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "96196677-ce5c-4f93-9d33-0a72d6465c0b",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        720,
        512
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "SpXj1mMDdnf13mdr",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name from compareDatasets\n# Try multiple ways to get the name\nroute_data = _('Check Route').first().json\n\n# Try to get name from keys field (if it exists)\nif 'keys' in route_data and 'name' in route_data['keys']:\n    workflow_name = route_data['keys']['name']\n# Otherwise try to get from different.name field\nelif 'different' in route_data and 'name' in route_data['different']:\n    # Get name from different data\n    diff = route_data['different']\n    if 'inputB' in diff.get('name', {}):\n        workflow_name = diff['name']['inputB']\n    elif 'inputA' in diff.get('name', {}):\n        workflow_name = diff['name']['inputA']\n    else:\n        workflow_name = diff.get('name')\nelse:\n    # Fallback: try to get from any available workflow data\n    all_decoded = _('Decode to json').all()\n    if all_decoded:\n        # Just return first one as fallback\n        return [{'json': {'dataset': all_decoded[0].json}}]\n    return []\n\n# Get all decoded workflow items from GitHub\nall_decoded = _('Decode to json').all()\n\n# Filter for the matching one by name\nmatched = [\n    item.json\n    for item in all_decoded\n    if item.json.get('name') == workflow_name\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "29b61028-274e-4a7a-b91c-455b1ab134a2",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name from compareDatasets\n# Try multiple ways to get the name\nroute_data = _('Check Route').first().json\n\n# Try to get name from keys field (if it exists)\nif 'keys' in route_data and 'name' in route_data['keys']:\n    workflow_name = route_data['keys']['name']\n# Otherwise try to get from different.name field\nelif 'different' in route_data and 'name' in route_data['different']:\n    diff = route_data['different']\n    if 'inputA' in diff.get('name', {}):\n        workflow_name = diff['name']['inputA']\n    elif 'inputB' in diff.get('name', {}):\n        workflow_name = diff['name']['inputB']\n    else:\n        workflow_name = diff.get('name')\nelse:\n    # Fallback: try to get from any available workflow data\n    all_n8n = _('n8n').all()\n    if all_n8n:\n        return [{'json': {'dataset': all_n8n[0].json, 'github_sha': ''}}]\n    return []\n\n# Get all n8n workflows\nall_n8n = _('n8n').all()\n\n# Get decoded GitHub workflows and raw GitHub data (they have matching indexes)\nall_decoded = _('Decode to json').all()\nall_github_raw = _('GitHub').all()\n\n# Filter for the matching workflow from n8n by name\nmatched_n8n = [\n    item.json\n    for item in all_n8n\n    if item.json.get('name') == workflow_name\n]\n\n# Find SHA from GitHub using indexes (Decode to json and GitHub have same order)\ngithub_sha = ''\nif matched_n8n:\n    for i, decoded_item in enumerate(all_decoded):\n        if decoded_item.json.get('name') == workflow_name:\n            # Use the same index to get SHA from raw GitHub data\n            if i < len(all_github_raw):\n                gh_item = all_github_raw[i].json\n                if isinstance(gh_item, dict):\n                    github_sha = gh_item.get('sha', '')\n                else:\n                    github_sha = getattr(gh_item, 'sha', '')\n            break\n\n# Return the n8n workflow with github_sha\nif matched_n8n:\n    return [{'json': {\n        'dataset': matched_n8n[0],\n        'github_sha': github_sha\n    }}]\nelse:\n    return []\n"
      },
      "id": "746b492f-0563-4115-afbd-7b702b707c39",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        768
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "bcd40913-444c-49f2-9f10-0732a81f2e70",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "9076f628-1285-4aa1-b8c4-9fd258dc1e02",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').first().json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            },
            {
              "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
              "name": "github_sha",
              "type": "string",
              "value": "={{ $('Code - InputA').first().json.github_sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba926c68-678b-412b-9a47-b50ade26df66",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        1392,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 320,
        "width": 1000
      },
      "id": "ea070773-159d-4e94-99df-21fbe9c57ba6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "a53588ec-21cb-4049-b30b-8135dd166245",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "route_flag",
              "name": "route_to",
              "type": "string",
              "value": "={{ $json.different && $json.different.updatedAt ? ($json.different.updatedAt.inputA && $json.different.updatedAt.inputB ? ($json.different.updatedAt.inputA >= $json.different.updatedAt.inputB ? 'update_github' : 'update_n8n') : ($json.different.updatedAt.inputA && !$json.different.updatedAt.inputB ? 'update_github' : 'update_n8n')) : 'neither' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55a3f593-d047-43a9-9de5-354e5610bafe",
      "name": "Route by update time",
      "type": "n8n-nodes-base.set",
      "position": [
        128,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.route_to }}",
              "value2": "update_n8n"
            }
          ]
        }
      },
      "id": "3a3daf72-007c-4241-9667-4f4c770e91d7",
      "name": "Check Route",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "a7167bc2-893e-45c4-94db-bf6498f793af",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        -608,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            },
            {
              "id": "c0d1e2f3-a4b5-46c7-d8e9-f0a1b2c3d4e5",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "github_repo_workflows_sync.json"
            }
          ]
        },
        "options": {}
      },
      "id": "c9539454-deee-4b0a-b709-c1fb2ab2702d",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1040,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "ilya3211"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "n8n-workflow"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "90e5c65f-aeb5-49c3-9ac6-7121863c6d2c",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -1664,
        480
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Clean n8n workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean n8n workflows": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by update time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by update time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by update time": {
      "main": [
        [
          {
            "node": "Check Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Route": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e6e7bd5-6eb0-45ed-a347-aaab93c6259a",
  "meta": {
    "instanceId": "c3a916b4cb55a2485d2269e7f38911fe1f87d7aabe778a14abf16758e6123896"
  },
  "id": "kJSKhnA19wtztOyX",
  "tags": [
    {
      "createdAt": "2025-11-07T14:59:58.401Z",
      "updatedAt": "2025-11-07T14:59:58.401Z",
      "id": "7x4Bzli3qcnBIzuj",
      "name": "github"
    }
  ]
}
