workflows/google-gemini---no-proxy-(test-first).json
{
  "name": "Google Gemini - Production Ready",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gemini-analysis",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        },
        "responseData": "allEntries"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "webhookId": "gemini-webhook-proxy",
      "id": "webhook-node"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "query",
              "value": "Требования к установке счетчиков воды в многоквартирных домах. Процедура поверки приборов учета. Права собственника и обязанности РСО."
            }
          ]
        },
        "options": {}
      },
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        450
      ],
      "id": "manual-trigger-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "search_query",
              "name": "searchQuery",
              "value": "Требования к установке счетчиков воды в многоквартирных домах. Процедура поверки приборов учета. Права собственника и обязанности РСО.",
              "type": "string"
            },
            {
              "id": "search_query_lower",
              "name": "searchQueryLower",
              "value": "требования к установке счетчиков воды в многоквартирных домах. процедура поверки приборов учета. права собственника и обязанности рсо.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        300
      ],
      "id": "extract-query-node"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appr4mKS7mC5XIcNU",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblhG32YmFpF9rrb8",
          "mode": "id"
        },
        "filterByFormula": "={{ '{Query}=\"' + $json.searchQuery + '\"' }}",
        "options": {
          "maxRecords": 1
        }
      },
      "name": "Search in Airtable Cache",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "id": "search-airtable-node",
      "credentials": {
        "airtableTokenApi": {
          "id": "airtablePersonalAccessToken",
          "name": "Airtable Personal Access Token account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "maxItems": 1,
        "keepMissing": true
      },
      "name": "Limit to First Result",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "id": "limit-node"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has_results",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check if Cached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ],
      "id": "check-cache-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "analysis",
              "name": "analysis",
              "value": "={{ $json.fields.Response }}",
              "type": "string"
            },
            {
              "id": "original_query",
              "name": "original_query",
              "value": "={{ $('Extract Query').first().json.searchQuery }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "cached",
              "name": "cached",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "record_id",
              "name": "record_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Cached Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1280,
        200
      ],
      "id": "format-cached-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "queryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyDKsO8w0MR2r_lfOSC8nwwTj73UY58GjHU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Проанализируй следующий запрос и представь детальный структурированный анализ:\\n\\n{{ $('Extract Query').first().json.searchQuery }}\\n\\n---\\n\\nТребования к анализу:\\n\\n## Структура отчета:\\n\\n### I. Цитаты и ключевые высказывания\\nВыдели все прямые цитаты или значимые высказывания:\\n- Текст цитаты\\n- Автор или источник (имя, должность, организация)\\n- Контекст высказывания\\n\\n### II. Законы и нормативные акты\\nПеречисли все упомянутые нормативные документы:\\n- Наименование и номер\\n- Дата (если указана)\\n- Суть и роль в контексте\\n- Конкретные пункты/статьи\\n\\n### III. Действия и события\\nОпиши действия, процедуры, события:\\n- Описание действия\\n- Инициатор/исполнитель\\n- Цель и мотивация\\n- Результат и последствия\\n\\n### IV. Упоминания\\nВыдели значимые упоминания:\\n- Организации: роль и функции\\n- Информационные системы\\n- Даты и сроки\\n- Персоналии\\n\\n### V. Прочие важные моменты\\n- Анализ спорных ситуаций\\n- Советы и рекомендации\\n- Техническая информация\\n\\nОТВЕЧАЙ ТОЛЬКО НА РУССКОМ ЯЗЫКЕ.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 8192\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_HATE_SPEECH\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000,
          "maxRedirects": 5,
          "retry": {
            "maxTries": 4,
            "waitBetween": 5000
          }
        }
      },
      "name": "Gemini API Call with Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        400
      ],
      "id": "gemini-api-node",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appr4mKS7mC5XIcNU",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblhG32YmFpF9rrb8",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Query": "={{ $('Extract Query').first().json.searchQuery }}",
            "Response": "={{ $json.candidates[0].content.parts[0].text }}"
          }
        },
        "options": {}
      },
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1500,
        400
      ],
      "id": "save-airtable-node",
      "credentials": {
        "airtableTokenApi": {
          "id": "airtablePersonalAccessToken",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "queryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyDKsO8w0MR2r_lfOSC8nwwTj73UY58GjHU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Задача: Создать гибридную структуру (план) для написания экспертной статьи на тему: {{ $('Extract Query').first().json.searchQuery }}\\n\\nТвоя цель — выступить в роли редактора-аналитика. Проанализируй поисковую выдачу и существующие материалы по теме, чтобы спроектировать структуру идеальной статьи. Эта статья должна быть более полной, полезной и структурированной, чем существующие конкуренты.\\n\\nТребования к результату:\\n\\nПредставь итоговый план в виде четкой, структурированной таблицы. Эта таблица будет служить техническим заданием для автора.\\n\\nШаг 1: Глубинный анализ темы\\nСначала проведи невидимый для пользователя анализ: изучи топ-10 статей по запросу, выдели основные подтемы, найди белые пятна (что упускают конкуренты), определи основные вопросы и проблемы пользователей.\\n\\nШаг 2: Формирование гибридной структуры (плана статьи)\\nНа основе анализа из Шага 1, представь результат в виде следующей таблицы:\\n\\nОбязательный заголовок (H2/H3) | Интент (какой вопрос пользователя закрывает раздел) | Рекомендуемый объем (символов) | Ключевые элементы и фишки для включения в раздел\\n\\nДля каждого раздела указывай:\\n- Совет: [Практическая рекомендация для читателя]\\n- Авторский материал: [Идея для уникального контента, например, пошаговый алгоритм, чек-лист, разбор кейса]\\n- Уникальная фишка: [Неочевидный факт, лайфхак или акцент, который выделит статью на фоне других]\\n- Важный элемент: [Критически важная информация, которую нельзя упустить]\\n\\nШаг 3: Общие рекомендации для автора\\nПосле таблицы предоставь краткий список общих советов для написания статьи:\\n- Стиль и тон\\n- Визуальное оформление\\n- Ключевые источники\\n\\nОТВЕЧАЙ ТОЛЬКО НА РУССКОМ ЯЗЫКЕ. Создай максимально детальный и практичный план.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 8192\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_HATE_SPEECH\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000,
          "maxRedirects": 5,
          "retry": {
            "maxTries": 4,
            "waitBetween": 5000
          }
        }
      },
      "name": "Gemini Plan Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        400
      ],
      "id": "gemini-plan-node",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appr4mKS7mC5XIcNU",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblhG32YmFpF9rrb8",
          "mode": "id"
        },
        "id": "={{ $('Save to Airtable').first().json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Article Plan": "={{ $json.candidates[0].content.parts[0].text }}"
          }
        },
        "options": {}
      },
      "name": "Save Plan to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1940,
        400
      ],
      "id": "save-plan-node",
      "credentials": {
        "airtableTokenApi": {
          "id": "airtablePersonalAccessToken",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "analysis",
              "name": "analysis",
              "value": "={{ $('Gemini API Call with Proxy').first().json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "original_query",
              "name": "original_query",
              "value": "={{ $('Extract Query').first().json.searchQuery }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "model_used",
              "name": "model",
              "value": "gemini-2.5-pro",
              "type": "string"
            },
            {
              "id": "tokens_used",
              "name": "tokens_used",
              "value": "={{ $('Gemini API Call with Proxy').first().json.usageMetadata ? $('Gemini API Call with Proxy').first().json.usageMetadata.totalTokenCount : 0 }}",
              "type": "number"
            },
            {
              "id": "cached",
              "name": "cached",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "record_id",
              "name": "record_id",
              "value": "={{ $json.id || $('Save to Airtable').first().json.id }}",
              "type": "string"
            },
            {
              "id": "article_plan",
              "name": "article_plan",
              "value": "={{ $('Gemini Plan Article').first().json.candidates?.[0]?.content?.parts?.[0]?.text || $('Gemini Plan Article').first().json.error?.message || 'Plan generation failed' }}",
              "type": "string"
            },
            {
              "id": "plan_tokens_used",
              "name": "plan_tokens_used",
              "value": "={{ $('Gemini Plan Article').first().json.usageMetadata?.totalTokenCount || 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2160,
        400
      ],
      "id": "format-success-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error ? $json.error.message : 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "error_details",
              "name": "error_details",
              "value": "={{ $json.error }}",
              "type": "object"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "original_query",
              "name": "original_query",
              "value": "={{ $('Extract Query').first().json.searchQuery }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1500,
        600
      ],
      "id": "format-error-node"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2380,
        300
      ],
      "id": "respond-webhook-node"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Query": {
      "main": [
        [
          {
            "node": "Search in Airtable Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Airtable Cache": {
      "main": [
        [
          {
            "node": "Limit to First Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to First Result": {
      "main": [
        [
          {
            "node": "Check if Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Cached": {
      "main": [
        [
          {
            "node": "Format Cached Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini API Call with Proxy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cached Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API Call with Proxy": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Gemini Plan Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Plan Article": {
      "main": [
        [
          {
            "node": "Save Plan to Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Plan to Airtable": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-08T00:00:00.000Z",
      "updatedAt": "2025-11-08T00:00:00.000Z",
      "id": "gemini-api-proxy",
      "name": "Gemini API Proxy"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-08T00:00:00.000Z",
  "versionId": "1"
}
