workflows/google-ai-studio-simple-test.json
{
  "name": "Google AI Studio - Simple Test",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 360],
      "id": "manual-trigger-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "value": "Расскажи кратко о квантовых компьютерах",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 360],
      "id": "set-prompt-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/screenshot?token=2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://aistudio.google.com/app/prompts/new_chat\",\n  \"gotoOptions\": {\n    \"waitUntil\": \"networkidle2\",\n    \"timeout\": 60000\n  },\n  \"cookies\": [\n    {\"name\": \"SID\", \"value\": \"g.a0003Qi4XUBldqx9gzjlDWuALcIleHUdVzjDWfqNHWUfPLh9aLXcmzMV0gk44iOkxD4kPjxCoAACgYKAbUSAQ8SFQHGX2MiTOXEFm1zbm4rnetG7CRfERoVAUF8yKqY8hmLQGd9ceQNUOewNAaE0076\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": false, \"httpOnly\": false},\n    {\"name\": \"HSID\", \"value\": \"AEsf95ttBgWYSNJGK\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": false, \"httpOnly\": true},\n    {\"name\": \"SSID\", \"value\": \"AQhWqH0-hxutvrkjA\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": true},\n    {\"name\": \"APISID\", \"value\": \"AhwE--AJL6mK99Yl/ARVRsnOn5p1Rtc3uY\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": false, \"httpOnly\": false},\n    {\"name\": \"SAPISID\", \"value\": \"PnXUtntf0yTjDzI4/A7Eu53tuz9CMNzN0H\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": false},\n    {\"name\": \"__Secure-1PSID\", \"value\": \"g.a0003Qi4XUBldqx9gzjlDWuALcIleHUdVzjDWfqNHWUfPLh9aLXcTbANEosUleKmhQb1MP9lsAACgYKAUESAQ8SFQHGX2Mi1GIeiqZU8b9-DfM-ClDCLBoVAUF8yKqLcraa9iYDwUF_bMXKiwzK0076\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": true},\n    {\"name\": \"__Secure-3PSID\", \"value\": \"g.a0003Qi4XUBldqx9gzjlDWuALcIleHUdVzjDWfqNHWUfPLh9aLXc34qhf5vNBTMrpR0JfzjiWwACgYKAbMSAQ8SFQHGX2MicI6pZzYY9bIxEbQ49usFpRoVAUF8yKpoQJ60F2GkX7sgbK25hcL-0076\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": true},\n    {\"name\": \"__Secure-1PAPISID\", \"value\": \"PnXUtntf0yTjDzI4/A7Eu53tuz9CMNzN0H\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": false},\n    {\"name\": \"__Secure-3PAPISID\", \"value\": \"PnXUtntf0yTjDzI4/A7Eu53tuz9CMNzN0H\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": false},\n    {\"name\": \"__Secure-1PSIDCC\", \"value\": \"AKEyXzWC0G1wIwRuC4M3BNm7pTq9bF7pdai-w9w39PNXECDP8A0kHUuQliwsZ3rrMjzBIIlXGRI\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": true},\n    {\"name\": \"__Secure-3PSIDCC\", \"value\": \"AKEyXzW0Yc2uGFS1YYrxveTWYw1VRJo7aczCFejulM9NP3z5vWzG0rZkaq9_InMh7_pmRBx0Eg\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": true},\n    {\"name\": \"__Secure-1PSIDTS\", \"value\": \"sidts-CjIBwQ9iIysAJCxC37bJKP3JcIsWoyHdSQEsZtSr-BQwRQyyPDG-D51yVXrBmCslBsGkERAA\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": true},\n    {\"name\": \"__Secure-3PSIDTS\", \"value\": \"sidts-CjIBwQ9iIysAJCxC37bJKP3JcIsWoyHdSQEsZtSr-BQwRQyyPDG-D51yVXrBmCslBsGkERAA\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": true},\n    {\"name\": \"NID\", \"value\": \"526=XOJSjJNLy99nJ9CAXDAoXt4J9xRCtDQIVrn-QVEBjRY1Siemj3o-T7dDOotablRcDWv-8amjAxSTJmYv3SWQX0lwHaWuxZCgGQcF06U2c2UfKIprjKlUeHjKXPtQHYalyUPZNY56n8DYCkelRV0DkC49sndOXl2U6PCvOresqS-DgryooNJ3pyECFBwj3EZYEaCbUQDtM67BykhT5soDzPVyMwgQIuZbWCbfl8QoEHiLtTyRfZUF4bN5oprLphYXGrpgQ8LTlYvbPvUY0vGqFkLFJjGhR9JBsiUONR84yBZh86dgVcbK0gmi66fM3b4OuJnnIEnrrkJvLium_eMz9-9gkQhycxK7Z8FrbeMS2rzkpP2Z3dsqvj2NlaUKjOpzwu_cgbQ8lZOsx8NCzNBXi4cAGA2wZO-Hpgh_DpHypzLT9WGsD6xykN9UeirLNO-Z6BEVmunc2avHHMsWz_87lpY7V-XzQPluypjFLIk4-C15GleK9TnO8-pVrgcZiPxEwrTQlnpD2IfjjUwaQM5z6_7GrX-BzPAgoAt-OL7_dAteit_NsWhyXbdSCcB1h8PE_feTNCPiGnzggjGTHpPxvmJQRVQARjbe2bwfItETfMtZdMxFjVMVKNgQIwOk74zU92FhAydFC0gGl70_DZjllowbEgz-poKw-I3SAKVy_3r-Yyw7ujUoBfFvnydgGXl5sV5GY9KE2GXa8V_H7Q8zfP8adCwfvzsh3AKUPrhgDwE3X5HJ0HyoOq67DjtZXtsUbRkUnUF9iizLNV37nx4wi3ujlbSuVG6kS-HqcRTBxOAv0rTEI3UMcyilssy4tep_2Lm2ysqLJK1TtMY7o7IFNDOWoD1dBLzegq1Q6RUsN9-yuBtfeUvluhgMJzsquSsR2xBrFGlQFaEn6c9WrCRHN1miSzhxlskfjpv8unn0KpN6kkXgonyIE4K4AJK9Xx_FLZZni-eLslrJAYQZBXxS_uUOBRXWwOMtpU2OzrBBR1k9J-l1nrTyCDak9u7MMny6k_IXROhkC52d2wEOBCXiKNEIvEDGl9gDw_RWqmS4jPrNEn5bVUGDcI-CbM0gvTT3s7osX71w7Mu2byrFwbpD0reeOa9RL8RuawBEx5G2kCzJVlZrLGMUYvb2Mzm0_g\", \"domain\": \".google.com\", \"path\": \"/\", \"secure\": true, \"httpOnly\": true}\n  ],\n  \"options\": {\n    \"fullPage\": true,\n    \"type\": \"png\",\n    \"encoding\": \"base64\"\n  },\n  \"waitFor\": 10000\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Open AI Studio With Cookies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 360],
      "id": "open-page-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "screenshot",
              "name": "screenshot_base64",
              "value": "={{ $json }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "Page opened with cookies - check screenshot",
              "type": "string"
            },
            {
              "id": "prompt",
              "name": "next_prompt",
              "value": "={{ $('Set Prompt').item.json.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 360],
      "id": "format-node"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Set Prompt", "type": "main", "index": 0}]]
    },
    "Set Prompt": {
      "main": [[{"node": "Open AI Studio With Cookies", "type": "main", "index": 0}]]
    },
    "Open AI Studio With Cookies": {
      "main": [[{"node": "Format Result", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "6"
}
