workflows/google-ai-studio-browserless-screenshot.json
{
  "name": "Google AI Studio - Browserless Screenshot (Simple & Working)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-studio-screenshot",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        360
      ],
      "webhookId": "ai-studio-screenshot",
      "id": "webhook-node"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Расскажи о квантовых компьютерах"
            }
          ]
        },
        "options": {}
      },
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        520
      ],
      "id": "manual-trigger-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "value": "={{ $json.prompt || $json.body?.prompt || \"Привет! Расскажи о себе.\" }}",
              "type": "string"
            },
            {
              "id": "requestId",
              "name": "requestId",
              "value": "={{ $now.toUnixInteger() }}-{{ Math.random().toString(36).substring(7) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        360
      ],
      "id": "extract-params-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/screenshot?token=2TRkln4qk0YySXg802f0c9d35a14b6e4fdedbdc9bff4edaac",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://aistudio.google.com/app/prompts/new_chat\",\n  \"options\": {\n    \"fullPage\": true,\n    \"type\": \"png\"\n  },\n  \"gotoOptions\": {\n    \"waitUntil\": \"networkidle2\",\n    \"timeout\": 60000\n  },\n  \"waitFor\": 8000\n}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Take Screenshot of AI Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        360
      ],
      "id": "screenshot-node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "✅ Google AI Studio успешно открыт через Browserless.io!",
              "type": "string"
            },
            {
              "id": "info",
              "name": "info",
              "value": "Страница Google AI Studio открыта в браузере. Скриншот сохранен.",
              "type": "string"
            },
            {
              "id": "screenshot_size",
              "name": "screenshot_size_bytes",
              "value": "={{ $json.data ? $json.data.length : 0 }}",
              "type": "number"
            },
            {
              "id": "screenshot_available",
              "name": "screenshot_available",
              "value": "={{ $json.data ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $('Extract Parameters').item.json.requestId }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "prompt",
              "name": "original_prompt",
              "value": "={{ $('Extract Parameters').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "page_url",
              "name": "page_url",
              "value": "https://aistudio.google.com/app/prompts/new_chat",
              "type": "string"
            },
            {
              "id": "service",
              "name": "automation_service",
              "value": "browserless.io (cloud)",
              "type": "string"
            },
            {
              "id": "note",
              "name": "note",
              "value": "Это базовая версия - открывает страницу и делает скриншот. Для полной автоматизации используйте расширенную версию.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        360
      ],
      "id": "format-response-node"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        360
      ],
      "id": "respond-node"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Take Screenshot of AI Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Screenshot of AI Studio": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-18T00:00:00.000Z",
      "updatedAt": "2025-11-18T00:00:00.000Z",
      "id": "ai-studio-screenshot",
      "name": "AI Studio Screenshot"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "1"
}
