workflows/import-workflow-from-url.json
{
  "createdAt": "2025-11-07T19:45:45.905Z",
  "updatedAt": "2025-11-07T19:50:18.925Z",
  "id": "brWN5VVuxJlQT3f0",
  "name": "Import Workflow from URL",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.workflow_url }}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json }}",
        "requestOptions": {}
      },
      "id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
      "name": "Import to n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
              "name": "workflow_url",
              "value": "https://raw.githubusercontent.com/username/repo/main/workflow.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Set URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ],
      "notes": "Укажите URL для импорта workflow (например, GitHub raw URL)"
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set URL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Import to n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "504ccd14-2840-4b84-990d-d565a919b38e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-07T19:45:45.905Z",
      "updatedAt": "2025-11-07T19:45:45.905Z",
      "role": "workflow:owner",
      "workflowId": "brWN5VVuxJlQT3f0",
      "projectId": "6RdnQGWBgqXn6vl2"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-11-07T17:11:03.677Z",
      "updatedAt": "2025-11-07T17:11:03.677Z",
      "id": "hFM1F9aTXbM7yDP5",
      "name": "github4"
    }
  ]
}