workflows/restore-workflows-from-github.json
{
  "createdAt": "2025-11-07T13:23:10.055Z",
  "updatedAt": "2025-11-07T16:56:39.406Z",
  "id": "560Ar3qXHH3dXFMo",
  "name": "Restore workflows from GitHub",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18dc3ecc-c1c7-4197-9268-3898636323bc",
              "name": "github_owner",
              "type": "string",
              "value": "duynb92"
            },
            {
              "id": "b3778554-4200-4e51-842a-dfca05be4f85",
              "name": "repo_name",
              "type": "string",
              "value": "n8n-workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "b8d4edc2-c3a6-4a53-83f2-ad1429869d0b",
      "name": "Define Local Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        384
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "ilya3211",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow",
          "mode": "list",
          "cachedResultName": "n8n-workflow",
          "cachedResultUrl": "https://github.com/ilya3211/n8n-workflow"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "id": "a85758e1-a443-47cc-8c6d-3ee5ca4a09c0",
      "name": "Github Trigger - When there is new pull request",
      "type": "n8n-nodes-base.githubTrigger",
      "position": [
        192,
        384
      ],
      "webhookId": "4152c250-0d25-4a1b-8064-1d170c527daf",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7f447d9f-6a55-4c4c-b9c5-d1f5b5fb1476",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Github Trigger - When there is new pull request').item.json.body.action }}",
              "rightValue": "closed"
            },
            {
              "id": "ab94d15e-ee80-4f78-8a1a-b9db0c2161ec",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Github Trigger - When there is new pull request').item.json.body.pull_request.merged }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6b40b490-990f-44ab-b486-d65366a674e7",
      "name": "Check if trigger event is pull request merged",
      "type": "n8n-nodes-base.filter",
      "position": [
        624,
        384
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/commits/{{ $('Github Trigger - When there is new pull request').item.json.body.pull_request.merge_commit_sha }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "2f0b2f87-cad1-41d4-8715-d8e8712c017d",
      "name": "Fetch merged commit details via GitHub API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        848,
        384
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "id": "33b3f49b-4db4-4bd1-9be7-a62ecb9a4ef5",
      "name": "Get files changes details",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1072,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cd4529cc-cf44-4fd9-aa27-49a5557a40ca",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "modified"
            }
          ]
        },
        "options": {}
      },
      "id": "bb853f9c-3d57-4d9c-a821-bbeff2269ead",
      "name": "Filter modified workflows",
      "type": "n8n-nodes-base.filter",
      "position": [
        1280,
        288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b4d2e160-478b-45e0-ba5d-ea72c2f6d430",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "added"
            }
          ]
        },
        "options": {}
      },
      "id": "bcffb278-ac72-43be-916a-f6add1efbeb8",
      "name": "Filter created workflows",
      "type": "n8n-nodes-base.filter",
      "position": [
        1280,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Define Local Variables').item.json.github_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Define Local Variables').item.json.repo_name }}"
        },
        "filePath": "={{ $json.filename }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "1143e4a7-e44f-4089-acd2-81be6386a54a",
      "name": "Fetch workflow content from Git",
      "type": "n8n-nodes-base.github",
      "position": [
        1504,
        480
      ],
      "webhookId": "afd9f010-9707-4778-bc4a-d933198d8727",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Define Local Variables').item.json.github_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Define Local Variables').item.json.repo_name }}"
        },
        "filePath": "={{ $json.filename }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "534adcef-a34b-42cb-9b5d-2cbd3937216e",
      "name": "Fetch workflow content from Git1",
      "type": "n8n-nodes-base.github",
      "position": [
        1504,
        288
      ],
      "webhookId": "afd9f010-9707-4778-bc4a-d933198d8727",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "1NzwISR2oVCjdFsg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "3b5d31b7-4932-4de3-b234-bb752f0bd5fb",
      "name": "Decode workflow content to json",
      "type": "n8n-nodes-base.set",
      "position": [
        1728,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "e80f73d3-e64e-4697-bdc7-5cc4097ae6aa",
      "name": "Decode workflow content to json1",
      "type": "n8n-nodes-base.set",
      "position": [
        1728,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "workflowObject": "={{ $json.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "61cdf4ac-e920-487e-8665-cd7dce576712",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1952,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "SpXj1mMDdnf13mdr",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "9f1f30df-44ee-4074-a0ea-df16d1db0324",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1952,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "SpXj1mMDdnf13mdr",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setup\n\n1. **Connect GitHub**: Use the `GitHub Trigger` node and configure GitHub API credentials.\nNote: I'd recommended to use *GitHub PAT (Personal Access Token) classic* with `repo` and `admin:repo_hook` permission scopes enabled.\n2. **Connect n8n API**: Provide your n8n API credentials in the `n8n` nodes. - [Check this doc](https://docs.n8n.io/api/authentication/)\n3. **Set repository variables**: Update `github_owner` and `repo_name` in the **Define Local Variables** node.\n4. **Enable webhook**: Make sure your GitHub repository has a webhook for `pull_request` events pointing to this workflow.",
        "height": 320,
        "width": 420
      },
      "id": "ea24498d-109f-48c5-845d-7703c9dd792e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Define Local Variables": {
      "main": [
        [
          {
            "node": "Check if trigger event is pull request merged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter created workflows": {
      "main": [
        [
          {
            "node": "Fetch workflow content from Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter modified workflows": {
      "main": [
        [
          {
            "node": "Fetch workflow content from Git1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get files changes details": {
      "main": [
        [
          {
            "node": "Filter modified workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter created workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode workflow content to json": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch workflow content from Git": {
      "main": [
        [
          {
            "node": "Decode workflow content to json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode workflow content to json1": {
      "main": [
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch workflow content from Git1": {
      "main": [
        [
          {
            "node": "Decode workflow content to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch merged commit details via GitHub API": {
      "main": [
        [
          {
            "node": "Get files changes details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if trigger event is pull request merged": {
      "main": [
        [
          {
            "node": "Fetch merged commit details via GitHub API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger - When there is new pull request": {
      "main": [
        [
          {
            "node": "Define Local Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Github Trigger - When there is new pull request": {
      "webhookId": 579691879,
      "webhookEvents": [
        "pull_request"
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f5598c9d-9f6a-40d2-8da8-97ca7ee32a25",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-07T13:23:10.055Z",
      "updatedAt": "2025-11-07T13:23:10.055Z",
      "role": "workflow:owner",
      "workflowId": "560Ar3qXHH3dXFMo",
      "projectId": "6RdnQGWBgqXn6vl2"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-11-07T14:46:44.546Z",
      "updatedAt": "2025-11-07T14:46:44.546Z",
      "id": "Vgp9ECPMqQUYpFsz",
      "name": "github2"
    }
  ]
}