workflows/rucaptcha-test-simple.json
{
  "name": "RuCaptcha Test (Turnstile Demo)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.rucaptcha.com/createTask",
        "sendBody": true,
        "contentType": "application/json",
        "jsonBody": "={\n  \"clientKey\": \"5fffba5de3bed2317417f625985ec684\",\n  \"task\": {\n    \"type\": \"TurnstileTaskProxyless\",\n    \"websiteURL\": \"https://rucaptcha.com/demo/cloudflare-turnstile\",\n    \"websiteKey\": \"0x4AAAAAAADnPIDROzbs0Qj\"\n  }\n}",
        "options": {}
      },
      "id": "b1",
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.errorId }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 5
      },
      "id": "d1",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 200],
      "webhookId": "wait-5s-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.rucaptcha.com/getTaskResult",
        "sendBody": true,
        "contentType": "application/json",
        "jsonBody": "={\n  \"clientKey\": \"5fffba5de3bed2317417f625985ec684\",\n  \"taskId\": {{ $('Create Task').item.json.taskId }}\n}",
        "options": {}
      },
      "id": "e1",
      "name": "Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "token",
              "value": "={{ $json.solution?.token || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "cost",
              "value": "={{ $json.cost || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "message",
              "value": "={{ $json.status === 'ready' ? '✅ Success!' : '⏳ Processing...' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "f1",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "error",
              "value": "={{ $json.errorDescription || 'Task creation failed' }}",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "errorId",
              "value": "={{ $json.errorId }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "g1",
      "name": "Show Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Create Task", "type": "main", "index": 0}]]
    },
    "Create Task": {
      "main": [[{"node": "Check Success", "type": "main", "index": 0}]]
    },
    "Check Success": {
      "main": [
        [{"node": "Wait 5s", "type": "main", "index": 0}],
        [{"node": "Show Error", "type": "main", "index": 0}]
      ]
    },
    "Wait 5s": {
      "main": [[{"node": "Get Result", "type": "main", "index": 0}]]
    },
    "Get Result": {
      "main": [[{"node": "Format Output", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}
