workflows/test-rucaptcha-SIMPLE.json
{
  "name": "✅ RuCaptcha Balance Check - SIMPLE",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-start",
      "name": "▶️ START HERE",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "content": "## 🔑 ШАГ 1: Измените API ключ\n\n1. Нажмите на node \"🔑 YOUR API KEY\"\n2. В правой панели найдите поле **\"apiKey\"**\n3. Замените значение на ваш ключ из RuCaptcha\n4. Нажмите \"Execute node\" или запустите весь workflow\n\n### Где взять ключ:\n- https://rucaptcha.com/panel\n- Раздел \"API\" или \"Настройки\"\n- Скопируйте полностью (32 символа)\n\n### Пример правильного ключа:\n`a1b2c3d4e5f6789012345678901234ab`",
        "height": 360,
        "width": 420,
        "color": 4
      },
      "id": "sticky-note-instructions",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [440, 180]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "apiKey",
              "value": "PASTE_YOUR_RUCAPTCHA_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "set-api-key-node",
      "name": "🔑 YOUR API KEY",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rucaptcha.com/res.php?key={{ $json.apiKey }}&action=getbalance",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-balance-check",
      "name": "💰 Check Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "content": "## ✅ Результаты:\n\n### Если работает:\n```\nstatusCode: 200\ndata: \"OK|12.34\"\n```\n\n### Ошибки:\n- `ERROR_KEY_DOES_NOT_EXIST` - неправильный формат\n- `ERROR_WRONG_USER_KEY` - ключ недействителен\n- `ERROR_ZERO_BALANCE` - баланс = 0\n\n### После успеха:\nИспользуйте этот же ключ для createTask!",
        "height": 280,
        "width": 360,
        "color": 5
      },
      "id": "sticky-note-results",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 240]
    }
  ],
  "connections": {
    "▶️ START HERE": {
      "main": [
        [
          {
            "node": "🔑 YOUR API KEY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 YOUR API KEY": {
      "main": [
        [
          {
            "node": "💰 Check Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "1"
}
