workflows/test-image-processing.json
{
  "name": "Test Image Processing (Resize 40% + WebP)",
  "nodes": [
    {
      "parameters": {},
      "id": "test-trigger-001",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -400,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-data-001",
              "name": "success",
              "type": "boolean",
              "value": true
            },
            {
              "id": "test-data-002",
              "name": "image_url",
              "type": "string",
              "value": "https://mycnd-hz.oss-cn-hangzhou.aliyuncs.com/sora/00d81259-aef8-48ca-8a58-caf367bc5af8.png"
            },
            {
              "id": "test-data-003",
              "name": "image_number",
              "type": "number",
              "value": 1
            },
            {
              "id": "test-data-004",
              "name": "total_images",
              "type": "number",
              "value": 1
            },
            {
              "id": "test-data-005",
              "name": "prompt",
              "type": "string",
              "value": "Test image processing"
            },
            {
              "id": "test-data-006",
              "name": "model",
              "type": "string",
              "value": "sora_image"
            },
            {
              "id": "test-data-007",
              "name": "cost",
              "type": "string",
              "value": "$0.01"
            },
            {
              "id": "test-data-008",
              "name": "generation_success",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "test-set-001",
      "name": "Test Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -200,
        200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "test-download-001",
      "name": "Download Test Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        200
      ],
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst Canvas = require('canvas');\nconst { Image } = Canvas;\n\nreturn Promise.all(items.map(async (item) => {\n  if (!item.binary || !item.binary.data) {\n    return { \n      json: { ...item.json, error: 'No binary data' }, \n      binary: item.binary \n    };\n  }\n\n  try {\n    // Get image buffer\n    const inputBuffer = Buffer.from(item.binary.data.data, 'base64');\n    \n    // Load image to get dimensions\n    const img = new Image();\n    img.src = inputBuffer;\n    \n    const originalWidth = img.width;\n    const originalHeight = img.height;\n    \n    // Calculate 40% size\n    const newWidth = Math.round(originalWidth * 0.4);\n    const newHeight = Math.round(originalHeight * 0.4);\n    \n    // Create canvas with new size\n    const canvas = Canvas.createCanvas(newWidth, newHeight);\n    const ctx = canvas.getContext('2d');\n    \n    // Draw resized image\n    ctx.drawImage(img, 0, 0, newWidth, newHeight);\n    \n    // Convert to WebP\n    const outputBuffer = canvas.toBuffer('image/webp', { quality: 0.65 });\n    \n    return {\n      json: {\n        ...item.json,\n        original_width: originalWidth,\n        original_height: originalHeight,\n        new_width: newWidth,\n        new_height: newHeight,\n        original_size: item.binary.data.fileSize,\n        new_size: outputBuffer.length\n      },\n      binary: {\n        data: {\n          data: outputBuffer.toString('base64'),\n          mimeType: 'image/webp',\n          fileName: (item.binary.data.fileName || 'image').replace(/\\.[^.]+$/, '.webp'),\n          fileExtension: 'webp',\n          fileSize: outputBuffer.length\n        }\n      }\n    };\n  } catch (error) {\n    return {\n      json: {\n        ...item.json,\n        error: error.message\n      },\n      binary: item.binary\n    };\n  }\n}));"
      },
      "id": "test-resize-001",
      "name": "Resize 40% + WebP",
      "type": "n8n-nodes-base.code",
      "position": [
        200,
        200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// Get file info\nconst originalSize = item.json.original_size || 0;\nconst newSize = item.json.new_size || 0;\nconst compressionRatio = originalSize > 0 ? ((1 - newSize / originalSize) * 100).toFixed(1) : 0;\n\nconst processedFile = item.binary?.data || {};\nconst fileName = processedFile.fileName || 'unknown';\nconst mimeType = processedFile.mimeType || 'unknown';\n\nreturn {\n  json: {\n    ...item.json,\n    processing: {\n      status: \"processed\",\n      file_name: fileName,\n      original_size: `${(originalSize / 1024).toFixed(1)} KB`,\n      processed_size: `${(newSize / 1024).toFixed(1)} KB`,\n      compression_ratio: `${compressionRatio}%`,\n      mime_type: mimeType,\n      format: \"webp\",\n      quality: 65,\n      resize: \"40%\",\n      dimensions: {\n        original: `${item.json.original_width}x${item.json.original_height}`,\n        resized: `${item.json.new_width}x${item.json.new_height}`\n      }\n    },\n    timestamp: new Date().toISOString(),\n    test_success: true\n  },\n  binary: item.binary\n};"
      },
      "id": "test-format-001",
      "name": "Test Result",
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        200
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Data": {
      "main": [
        [
          {
            "node": "Download Test Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Test Image": {
      "main": [
        [
          {
            "node": "Resize 40% + WebP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize 40% + WebP": {
      "main": [
        [
          {
            "node": "Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["test", "image-processing"],
  "triggerCount": 0,
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "1"
}
